.catalog-product-view {
  .rewards__product-points {
    display: inline-block;
    font-size: 12px;
    color: #F96B25;

    .price {
      font-size: 13px !important;
      line-height: 1em !important;
	  color: #fff;
	  font-weight: 500;
    }
  }
}

.product-items {
  .product-item-info {
    .rewards__product-points {
      font-size: 12px;
      color: #000;
      margin-top: -10px;

      .price {
			font-size: 13px !important;
			color: #f00;
			display: block;
			font-weight: 500;
      }
    }
  }
}
.rewards__product-earn-points.rewards__product-points .points-loader.loader {
  position: absolute;
  height: 17px;
  width: auto;
}

.block-products-list {
  .rewards__product-points {
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
}

// compatibility with amasty
.product-info-main {
  .product-info-price {
    position: relative;

    .rewards__product-points {
      //position: absolute;
      //right: 0;
      //top: 0;

      .price {
        font-size: 12px;
        color: #f00;
      }
    }

    .product-info-stock-sku {
      .stock {

      }
    }
  }
}

#amasty-shopby-product-list, .widget-product-grid {
  .product-item-details {
    .rewards__product-points {
      display: block;
      width: 100%;
      margin: 0px;
      font-size: 12px;
      color: #F00;

      .price {
        font-size: 13px !important;
		color: #f00;
		font-weight: 500;
      }
    }
  }
}
