// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    a.action.primary {

    }

    button {
        &:not(.primary) {


            &:active {

            }
        }
    }

    body {
        &:not(._keyfocus) {
            button {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary {

    }
}
