.logo {
    float: left;
    margin: 0 0 10px 0px;
    max-width: 100%;
    position: relative;
    z-index: 5;
}
button.action.search {
    opacity: 1;
    margin: 11px!important;
}

.owl-stage-outer {
    padding: 0px !important;
}





