// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, #fff);
        .nav-sections-items {
            .navigation {
                .parent {
                    .level-top {
                        position: relative;
                        .lib-icon-font(
                            @_icon-font-content: @icon-down,
                            @_icon-font-size: 12px,
                            @_icon-font-position: after,
                            @_icon-font-display: block
                        );

                        &:after {
                             margin-left: 8px;
                         }

                        &.ui-state-active {
                            .lib-icon-font-symbol(
                                @_icon-font-content: @icon-up,
                                @_icon-font-position: after
                            );
                        }
                    }
                }
            }
        }
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 18px,
        @_icon-font-color: #000,
        @_icon-font-color-hover: @header-icons-color-hover
        );
        &:before {
            font-weight: 600;
        }
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 27px;
        z-index: 14;
    }
    .navigation .level0.active > .level-top,
    .navigation .level0.has-active > .level-top {
        border-color: inherit !important;
        border-style: none !important;
        border-width: inherit !important;
    }

}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .nav-toggle {
        &:before {
            font-weight: 600;
        }
        .lib-icon-text-hide();
        left: 10px;
        position: absolute;
        top: 23px;
        z-index: 14;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-1024) {
    .nav-sections {
        .nav-sections-items {
            .nav-sections-item-content {
                padding: 0;
            }
            .navigation {
                background: #fff;
                padding: 0;
                ul {
                    padding: 0 !important;
                }
                .level0 {
                    border-bottom: 1px solid #d1d1d1;
                    border-top: none;
                    font-size: 13px;
                    > .level-top {
                        padding: 10px;
                        text-transform: capitalize;
                        font-weight: 300;
                        color: #000;
                        font-size: 13px;
                        span {
                            margin: 0 !important;
                        }
                        &:after {
                            top: 14px !important;
                            font-size: 12px !important;
                        }
                    }
                    &.active {
                        .all-category {
                            .ui-state-focus {
                                border: none;
                                padding-left: 14px;
                            }
                        }
                    }
                }

                .parent {
                    .level-top {
                        position: relative;
                        .lib-icon-font(
                            @_icon-font-content: @icon-down,
                            @_icon-font-size: 42px,
                            @_icon-font-position: after,
                            @_icon-font-display: block
                        );

                        &:after {
                            position: absolute;
                            right: 7px;
                            top: -8px;
                        }

                        &.ui-state-active {
                            .lib-icon-font-symbol(
                                @_icon-font-content: @icon-up,
                                @_icon-font-position: after
                            );
                        }
                    }
                }
                .submenu:not(:first-child) {
                    .expanded {

                    }
                    .active {
                        > a {
                            border: none;
                            padding-left: 14px;
                        }
                    }
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: 700;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            padding: @indent__s 0;
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: 700;
                    padding: .8rem @indent__base;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: 700;
                padding: .8rem @indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            /*left: 80%;
            left: calc(~'100% - @{active-nav-indent}');*/
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 999;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        display: none;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {

        &.active {
            display: block;
        }

        padding: @indent__m 0;
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1200) {
    .nav-sections-item-content {
        .navigation {
            .level0 {
                a {
					font-size: 12px;
					padding: 0 8px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .section-items.nav-sections-items {
        background: @theme_txt_color;
        border-bottom: 5px solid @border_bottom;
    }
    .nav-sections .navigation .level0
    > .level-top:hover,
    .navigation .level0
    > .level-top.ui-state-focus {
        color: #fff !important;
    }
    .nav-sections-item-content {
        .navigation {
            text-align: center;
            background: transparent;
			z-index: 3 !important;
            .level0 {
                a {
                    font-size: 10px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    line-height: 50px;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 0 5px;
                    &:hover,
                    &:focus {
                        color: #fff !important;
                    }
                }
                .submenu {
                    text-align: left;
                    line-height: 30px;
                    min-width: max-content;
                    li a {
                        padding: 2px 10px;
                        border: none;
                        font-size: 13px;
                        border-bottom: 1px solid #f1f1f1;
                        &:hover {
                            background: @theme_txt_color;
                        }
                    }
                    .parent {

                    }
                }
                :hover {
                    color: #fff !important;
                }
            }
        }
    }

    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: 0;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {

    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
    .navigation .level0.active > .level-top,
    .navigation .level0.has-active > .level-top {
        color: #fff !important;
    }
}
