// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion();
        border-bottom: @tab-control__border-width solid @tab-control__border-color;
        margin-bottom: @indent__base;

        .item.title {
            a {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size__base,
                @_icon-font-line-height: @icon-font__line-height,
                @_icon-font-color: @icon-font__color,
                @_icon-font-color-hover: @icon-font__color-hover,
                @_icon-font-color-active: @icon-font__color-active,
                @_icon-font-margin: @icon-font__margin,
                @_icon-font-vertical-align: @icon-font__vertical-align,
                @_icon-font-position: after,
                @_icon-font-display: false
                );

                &:after {
                    position: absolute;
                    right: @accordion-control__padding-right;
                    top: @accordion-control__padding-top;
                }
            }

            &.active a {
                &:after {
                    content: @icon-up;
                }
            }
        }
        .value p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-wrapper {
            margin: 0;
        }
    }
    .product.data.items {
        > .item.title {
            
            > .switch {
                padding: 0;
                height: 45px;
                line-height: 45px;
            }
        }
        > .item.content {
            padding: 0 0 8px;
            strong {
                font-weight: 300;
            }
            .description {
                line-height: 28px;
                color: #484848;
            }
			.nutritionaldata,
			.safetyinfo {
				line-height: 28px;
                color: #484848;
				h2 {
					display: none;
				}
			}
			
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product.data.items {
        .lib-data-tabs();
        border-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        .item.title a {
            &:after {
                display: none;
            }
        }
        > .item.title {
			&:after {
                background: @theme_txt_color url(../images/protabClose.png) no-repeat center;
                background-size: 10px;
                content: '';
                cursor: pointer;
                display: block;
                height: 50px;
                width: 50px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 9;
            }
            &.active {
                &:after {
                    background: @theme_txt_color url(../images/protabOpen.png) no-repeat center;
                    background-size: 10px;
                }
            }
            float: none;
            position: relative;
            margin: 10px 0;
            > .switch {
                font-size: 16px;
                line-height: 50px;
                height: 50px;
                border: 1px solid #ddd;
                padding: 0 15px;
                background: transparent;
            }
        }
        > .item.content {
            border: 1px solid #ebebeb;
            padding: 15px 20px 15px 20px;
            float: none;
            margin: -10px 0 0 0;
            border-top: none;
        }
    }
}
