// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;

// Colors
@button_color: #ff0000;
@border_bottom: #ff0000;
@theme_txt_color: #1f2532;
@price_color: #ff0000;
@price_txt_color: #ff0000;


// font-size
@home_heading: 40px;
@home_heading_mobile: 20px;


// breakpoints

@screen-991: 991px;
@screen-992: 992px;
@screen-1024: 1024px;
@screen-1025: 1025px;
@screen-1199: 1199px;
@screen-1200: 1200px;
@screen-480: 480px;