.amreview-slider-item {
    display: inline-block;
    margin: 0 15px 15px 0;
    vertical-align: bottom;
    text-align: center;
}

.amreview-remove-image {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.amreview-remove-image .amreview-checkbox {
    margin-right: 5px;
}

.admin__field-control #is_need_send_notification {
    margin-top: 12px;
}
