.homeSlider #slider {
    position: relative;
    text-align: center;
}


/* NEW EXPERIMENT */
/* Slider Setup */


.homeSlider #slide1:checked ~ #slides .inner { margin-left:0; }
.homeSlider #slide2:checked ~ #slides .inner { margin-left:-100%; }
.homeSlider #slide3:checked ~ #slides .inner { margin-left:-200%; }
.homeSlider #slide4:checked ~ #slides .inner { margin-left:-300%; }
.homeSlider #slide5:checked ~ #slides .inner { margin-left:-400%; }


.homeSlider #overflow {
    width: 100%;
    overflow: hidden;
}

.homeSlider article img {
    width: 100%;
}

.homeSlider #slides .inner {
    width: 500%;
    line-height: 0;
}

.homeSlider #slides article {
    width: 20%;
    float: left;
}

/* Slider Styling */

/* Control Setup */

.homeSlider #controls {
    display: none;
    margin: -13px 0 0 0;
    width: 100%;
    height: 26px;
    position: absolute;
    left: 0;
    padding: 0 10px;
    top: 50%;
}

.homeSlider #controls label {
    display: none;
    width: 26px;
    height: 26px;
}

.homeSlider #active {
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.homeSlider #active label {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
}

.homeSlider #active label:hover {
    background: #ccc;
    border-color: #777 !important;
}

.homeSlider #slide1:checked ~ #controls label:nth-child(2),
.homeSlider #slide2:checked ~ #controls label:nth-child(3),
.homeSlider #slide3:checked ~ #controls label:nth-child(4),
.homeSlider #slide4:checked ~ #controls label:nth-child(5),
.homeSlider #slide5:checked ~ #controls label:nth-child(1) {
    background: url('next.png') no-repeat;
    float: right;
    display: block;
}


.homeSlider #slide1:checked ~ #controls label:nth-child(5),
.homeSlider #slide2:checked ~ #controls label:nth-child(1),
.homeSlider #slide3:checked ~ #controls label:nth-child(2),
.homeSlider #slide4:checked ~ #controls label:nth-child(3),
.homeSlider #slide5:checked ~ #controls label:nth-child(4) {
    background: url('prev.png') no-repeat;
    float: left;
    display: block;
}

.homeSlider #slide1:checked ~ #active label:nth-child(1),
.homeSlider #slide2:checked ~ #active label:nth-child(2),
.homeSlider #slide3:checked ~ #active label:nth-child(3),
.homeSlider #slide4:checked ~ #active label:nth-child(4),
.homeSlider #slide5:checked ~ #active label:nth-child(5) {
    background: #333;
    border-color: #333 !important;
}

/* Info Box */

.homeSlider .info {
    display: none;
    line-height: 20px;
    margin: 0 0 -150%;
    position: absolute;
    font-style: italic;
    padding: 30px 30px;
    opacity: 0;
    color: #000;
    text-align: left;
}

.homeSlider .info h3 {
    color: #333;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 22px;
    font-style: normal;
}

/* Animation */

.homeSlider #slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

.homeSlider #slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.homeSlider #controls label{
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.homeSlider #slide1:checked ~ #slides article:nth-child(1) .info,
.homeSlider #slide2:checked ~ #slides article:nth-child(2) .info,
.homeSlider #slide3:checked ~ #slides article:nth-child(3) .info,
.homeSlider #slide4:checked ~ #slides article:nth-child(4) .info,
.homeSlider #slide5:checked ~ #slides article:nth-child(5) .info {
    opacity: 1;
    -webkit-transition: all 1s ease-out 0.6s;
    -moz-transition: all 1s ease-out 0.6s;
    -o-transition: all 1s ease-out 0.6s;
    transition: all 1s ease-out 0.6s;
}

.homeSlider .info, .homeSlider #controls, .homeSlider #slides, .homeSlider #active, .homeSlider #active label, .homeSlider .info h3, .homeSlider .desktop, .homeSlider .tablet, .homeSlider .mobile {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* Respond Options */

.homeSlider #desktop:checked ~ #slider {
    max-width: 960px;
}

.homeSlider #tablet:checked ~ #slider {
    max-width: 850px;
}

.homeSlider #mobile:checked ~ #slider {
    max-width: 450px;
}

.homeSlider #desktop:checked ~ #slider .desktop,
.homeSlider #tablet:checked ~ #slider .tablet,
.homeSlider #mobile:checked ~ #slider .mobile {
    color: #777;
    opacity: 1;
}

.homeSlider .desktop, .homeSlider .tablet, .homeSlider .mobile {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 50px;
    opacity: 0.35;
    font-size: 12px;
}

.homeSlider .desktop:hover, .homeSlider .tablet:hover, .homeSlider .mobile:hover {
    opacity: 0.2;
}

.homeSlider .desktop {
    background: url('desktop.png') no-repeat;
}

.homeSlider .tablet {
    background: url('tablet.png') no-repeat;
}

.homeSlider .mobile {
    background: url('mobile.png') no-repeat;
}

/* Responsive Styling */

/* Tablet */

.homeSlider #tablet:checked ~ #slider #controls {
    margin: -25% 0 0 12%;
    width: 76%;
    height: 50px;
}

.homeSlider #tablet:checked ~ #slider #controls label {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.homeSlider #tablet:checked  ~ #slider #slides, .homeSlider #mobile:checked  ~ #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.homeSlider #tablet:checked ~ #slider #active {
    margin: 22% 0 0;
}

@media only screen and (max-width: 850px) and (min-width: 450px) {
    .homeSlider #slider #controls label {
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/* Mobile */

.homeSlider #mobile:checked ~ #slider #controls {
    margin: -28% 0 0 24%;
    width: 50%;
    height: 50px;
}

.homeSlider #mobile:checked ~ #slider #active {
    margin: 23% 0 0;
}

.homeSlider #mobile:checked ~ #slider #slides .info {
    opacity: 0 !important;
}

.homeSlider #mobile:checked ~ #slider #controls label {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}


@media only screen and (max-width: 450px) {

    .homeSlider #slider #slides .info {
        opacity: 0 !important;
    }
    .homeSlider #slider #controls label {
        -moz-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -o-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
    }
}