<?php $customer = $block->customerLoggedIn(); ?>
<?php if($customer): ?>
	<li class="nav item">
		<a href="<?= $block->getUrl("customer/account/logout"); ?>"><?= __('Logout'); ?></a>
	</li>
	<li class="nav item">
		<a href="<?= $block->getUrl("customer/account"); ?>"><?= __('My Account'); ?></a>
	</li>
	<li class="nav item">
		<a href="<?= $block->getUrl("wishlist"); ?>"><?= __('Wishlist'); ?></a>
	</li>
<?php else: ?>
	<li class="nav item">
		<a href="<?= $block->getUrl("customer/account/login"); ?>"><?= __('Log In'); ?></a>
	</li>
	<li class="nav item">
		<a href="<?= $block->getUrl("customer/account/create"); ?>"><?= __('Register'); ?></a>
	</li>
	<li class="nav item">
		<a href="<?= $block->getUrl("customer/account"); ?>"><?= __('My Account'); ?></a>
	</li>
	<li class="nav item">
		<a href="<?= $block->getUrl("wishlist"); ?>"><?= __('Wishlist'); ?></a>
	</li>
<?php endif; ?>