<div class="headerAccount">
<div class="hdrAccountLinks">	
	<ul>
		<li>
			<span class="accToggle"><i class="fas fa-user"></i><span>My Account</span><i class="fa fa-angle-down"></i></span>
			<ul class="dropdown-menu"><?php echo $block->getChildHtml(); ?></ul>
		</li>
	</ul>
</div>
</div>

<script type="text/javascript">
	require(['jquery'],function($){
		$(document).ready(function(){
			$('.hdrAccountLinks .accToggle').click(function(){
				$('.hdrAccountLinks .dropdown-menu').toggle();
			});
		});
	});
</script>