// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .opc-wrapper {
        .form-discount {
            max-width: 500px;
            display: table;
            width: 100%;
            .field {
                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
            .payment-option-inner {
                display: table-cell;
            }
            .actions-toolbar {
                display: table-cell;
                vertical-align: top;
                white-space: nowrap;
                width: 1%;
                > .primary .action {
                    font-weight: 400;
                    height: 45px;
                    line-height: 43px;
                    padding: 0 20px;
                    border-radius: inherit;
					margin: 0 0 20px;
                }
            }
        }
    }
}
