// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists

    .products-grid {
        .product-item {
            .product-item-details {
                text-align: left;
                .product-item-inner {
                    .product-item-actions {
                        text-align: center;
                        .actions-primary {
                            button {
                                width: 100%;
                                text-transform: uppercase;
                            }
                        }
                        .actions-secondary {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        clip: rect(0, 0, 0, 0);
                    }
                }
            }
        }
    }

    .products {
        margin: @indent__l 0;
        &.products-grid {
            padding: 0 !important;
        }
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                width: 100%/2;
                margin-bottom: 15px;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
                height: 43px;
                overflow: hidden;
                text-overflow: ellipsis;
				
				+ .price-box {
					padding-top: 27px;
				}
            }

            &-info {
                max-width: 100%;
                width: 152px;
                border: 1px solid #ebebeb;
                position: relative;

                .page-products & {
                    width: 100%;
                    text-align: center;
                    padding: 0 10px;
                }
            }

            &-actions {
                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        color: #000;
                        font-weight: 400;
                        letter-spacing: unset;
                        text-transform: initial;
                        display: inline-block;
                        text-decoration: none;
                        font-size: 13px;
                        &:before {
                            margin: 0;
                        }
                        &:hover {
                            text-decoration: underline;
                        }
                        &:last-child {
                            display: none;
                        }

                        span {
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
				margin-bottom: 0;
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
					display: none;
                }
            }

            .price-box {
                margin: @indent__s 0 10px;
				overflow: hidden;

                .price {
                    white-space: nowrap;
                    font-weight: 600;
                    font-size: 16px;
                    color: #ff0000;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                    display: none;
                }
            }

			.special-price {
				float: left;
			}
            .old-price {
                margin-left: @indent__xs;
				float: left;
				position: absolute;
				left: 80px;
				margin-top: 2px;

                .price {
                    font-weight: normal;
                    font-size: 14px;
                    text-decoration: line-through;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
				display: none;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .column.main {
        .product {
            &-items {

            }

            &-item {
                padding-left: 15px;

            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
    .page-products {
        .products-grid {
            .product-item {
                width: 49% !important;
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .page-products {
        .products-grid {
            .product-item {
                width: 32% !important;
                padding: 0;
                margin-right: 2%;
                &:nth-of-type(3n) {

                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                position: relative;
                z-index: 2;

                .product-item-inner {
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        top: 9px;
                        left: 9px;
                    }
                }
            }
        }
    }


    .product-item-inner {
        .products-grid & {

        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {


            > .action {


                &:last-child {
                    margin-right: 0;
                    display: none;
                }
            }
        }

        .actions-primary {
            display: block;
            text-align: center;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {

                }
            }
        }

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {

                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            }
        }
    }
    .product-item {
        .price-box {
            margin: @indent__s 0 20px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
    .product-item {
        .price-box {
            .special-price,
            .price-final_price {
                .price {
                    font-size: 18px;
                }
            }
            .old-price {
                .price {
                    font-size: 16px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;

        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: calc(~'(100% - 4 * 24.439%) / 3');
                padding: 0;
                width: 24.439%;

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
