//
//  Advanced Review
//  ____________________________________________

//
//  Variables
//  --------------------------------------------

@amreview-stars__filtering__color: #ed9d00;
@amreview-label__color: #8f8f8f;
@amreview-button__color: #1979c3;
@amreview-recommended__color: #1ab900;
@amreview-text__color: #5b5b5b;
@amreview-review-bar__active__background: #ed9d00;
@amreview-review-form__background: #f9f9f9;
@amreview-pros__color: #3e7405;
@amreview-cons__color: #d0021b;

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    .hidden {
        display: none;
    }

    .amreview-widget-container {
        .slick-dots {
            position: initial;
        }
    }

    .amreview-info-wrapper {
        padding-top: 20px;
    }

    .amreview-summary-info {
        & {
            padding: 0 10px;
        }

        .amreview-summary {
            float: left;
            margin-right: 20px;
            font-size: 60px;
            line-height: 1;
            color: #000;
        }

        .amreview-count {
            display: inline-block;
            margin-right: 15px;
            font-size: 16px;
            .lib-css(color, @amreview-label__color);
        }

        .amreview-showmore {
            display: inline-block;
            .lib-css(color, @amreview-button__color);
            cursor: pointer;
        }

        .amreview-showmore:after {
            content: '';
            display: inline-block;
            margin-left: 3px;
            width: 10px;
            height: 7px;
            .lib-css(background, @amreview-arrow-down__background center no-repeat);
            background-size: 10px;
        }

        .amreview-percent {
            display: none;
            clear: both;
            font-size: 14px;
            .lib-css(color, @amreview-label__color);
        }

        .amreview-value {
            display: inline-block;
            font-size: 30px;
        }

        .amreview-text {
            display: inline-block;
            margin-left: 10px;
            max-width: 180px;
            line-height: 1.2;
        }
    }

    .amreview-rating-wrapper {
        float: left;
        padding-top: 5px;
        margin-bottom: 10px;
    }

    .amreview-summary-details {
        display: none;
        padding: 0 10px;
        clear: both;
    }

    .amreview-summary-details .amreview-label {
        > .amreview-stars,
        > .amreview-bar,
        > .amreview-text {
            & {
                display: inline-block;
                line-height: 14px;
            }

            &:hover {
                .lib-css(color, @amreview-stars__filtering__color);
            }
        }

        > .amreview-stars {
            margin-bottom: 5px;
            min-width: 50px;
            text-align: right;
            .lib-css(color, @amreview-label__color);
        }

        .amreview-bar {
            margin: 0 20px;
            width: 80px;
            height: 6px;
            vertical-align: middle;
            background: #dfdfdf;
        }

        .amreview-bar.-active {
            margin: 0;
            .lib-css(background, @amreview-review-bar__active__background);
        }

    }

    .amreview-add-new {
        & {
            margin: 30px 0 55px;
            padding: 20px 10px;
            .lib-css(background, @amreview-review-form__background);
            clear: both;
        }

        .amreview-button.action {
            margin-right: 10px;
            padding: 10px;
            border-radius: 0;
        }

        .amreview-label {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
            line-height: 1.2;
            .lib-css(color, @amreview-label__color);
        }
    }

    .amreview-author-details {
        & {
            position: relative;
            margin: 10px 0 20px;
        }

        .amreview-author {
            margin: 0 80px 0 0;
            font-size: 16px;
            line-height: 20px;
            word-break: break-all;
        }

        .amreview-date {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 12px;
            color: #c4c4c4;
        }

        .amreview-verified {
            margin-top: 5px;
            font-size: 14px;
            color: #909090;
        }

        .amreview-verified:after {
            content: '';
            display: inline-block;
            margin-left: 5px;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            .lib-css(background, @amreview-verified__background);
        }

        .amreview-recommended {
            margin: 10px 0 0;
            font-size: 14px;
            .lib-css(color, @amreview-recommended__color);
        }
    }

    .amreview-title-review {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: bold;
        word-break: break-all;
    }

    .amreview-rating-label {
        margin-bottom: 5px;
        font-size: 12px;
        .lib-css(color, @amreview-label__color);
    }

    .amreview-review-wrapper {
        &.review-item {
            padding: 20px 10px;
        }

        .amreview-description {
            margin-top: 25px;
            font-size: 14px;
            line-height: 16px;
            .lib-css(color, @amreview-text__color);
            word-break: break-all;
        }

        .amreview-description > .amreview-showless {
            position: relative;
            display: block;
            padding-bottom: 2px;
        }

        .amreview-description > .amreview-showless:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            width: 100%;
            background: linear-gradient(to top, rgba(255, 255, 255, 1) 1%, rgba(0, 0, 0, 0) 25%);
        }

        .amreview-readmore + .amreview-showmore {
            display: none;
        }

        .amreview-description > .amreview-readmore {
            display: block;
            margin-top: 5px;
            cursor: pointer;
        }

        .amreview-adminanswer {
            margin: 10px 0 0;
            padding: 15px;
            background: #e0e0e0;
            .lib-css(color, @amreview-text__color);
        }

        .amreview-adminanswer > .amreview-title {
            margin-bottom: 5px;
            font-size: 14px;
            color: #000;
        }

        .amreview-images {
            margin-top: 20px;
        }
    }

    .amreview-slider-item {
        display: inline-block;
        margin: 0 10px 0 0;
        vertical-align: middle;
        text-align: center;
    }

    // Override slick styles
    .amreview-images.slick-slider {
        & {
            padding: 0 20px;
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            display: block;
            padding: 0;
            width: 15px;
            height: 22px;
            font-size: 0;
            line-height: 0;
            .lib-css(transform, translate(0, -50%), 1);
            cursor: pointer;
            color: transparent;
            border: none;
            outline: none;
            box-shadow: none;
            .lib-css(background, @amreview-slider-arrow__background no-repeat center);
            .lib-css(transition, background .3s ease, 1);
        }

        .slick-arrow:before,
        .slick-arrow:after {
            content: '';
        }

        .slick-arrow:hover {
            .lib-css(background, @amreview-slider-arrow__hover__background no-repeat center);
        }

        .slick-arrow.slick-next {
            right: 0;
        }

        .slick-arrow.slick-prev {
            left: 0;
            .lib-css(transform, rotate(180deg) translate(0, 50%), 1);
        }
    }

    .slick-initialized .amreview-slider-item.slick-slide {
        float: none;
        display: inline-block;
    }

    .amreview-helpful-wrap {
        & {
            margin-top: 25px;
            text-align: right;
        }

        > .amreview-helpful {
            font-size: 14px;
            .lib-css(color, @amreview-text__color);
        }

        > .amreview-options {
            margin-left: 5px;
        }

        > .amreview-options,
        .amreview-plus,
        .amreview-minus,
        .amreview-icon {
            display: inline-block;
            cursor: pointer;
        }

        .amreview-icon {
            margin: 0 5px 0 10px;
            width: 20px;
            height: 18px;
            .lib-css(transition, all .3 ease, 1);
        }

        .amreview-plus > .amreview-icon {
            .lib-css(background, @amreview-like__background);
        }

        .amreview-plus:hover > .amreview-icon {
            .lib-css(background, @amreview-like__hover__background);
        }

        .amreview-plus.-voted > .amreview-icon {
            .lib-css(background, @amreview-like__active__background);
        }

        .amreview-minus > .amreview-icon {
            .lib-css(background, @amreview-dislike__background);
        }

        .amreview-minus:hover > .amreview-icon {
            .lib-css(background, @amreview-dislike__hover__background);
        }

        .amreview-minus.-voted > .amreview-icon {
            .lib-css(background, @amreview-dislike__active__background);
        }
    }

    // Override magento styles
    .amreview-toolbar-wrap {
        .pages strong.page {
            padding: 0 10px;
            background: #f0f0f0;
        }

        .pages .action {
            box-shadow: none;
            background: #fff;
        }

        .limiter select {
            box-shadow: none;
            background-color: #fff;
        }

    }

    .amreview-submit-form .review-form {
        & {
            margin-top: 30px;
            padding: 25px 15px 15px;
            .lib-css(background, @amreview-review-form__background);
        }

        // Override magento styles
        .review-field-rating .control {
            margin: 5px 0 40px;
        }

        .review-field-rating .label {
            font-weight: 400;
            color: #3f3f3f;
        }

        .review-control-vote:before {
            content: '';
            width: 165px;
            .lib-css(height, @amstars-star__l__height);
            .lib-css(background, @amstars-star__background);
        }

        .review-control-vote label:before {
            content: '';
            display: inline-block;
            .lib-css(height, @amstars-star__l__height);
            .lib-css(background, @amstars-star__active__background);
        }

        .review-control-vote input[type="radio"]:not(:checked) + label:hover:before {
            opacity: 1;
            .lib-css(background, @amstars-star__hover__background);
            cursor: pointer;
        }

        .review-control-vote {
            @amreview-stars: 5;

            .override-stars (@i) when (@i > 0) {
                .rating-@{i}:before {
                    width: @i*33px;
                }
                .override-stars(@i - 1);
            }

            .override-stars (@amreview-stars);
        }

        &.review-form .action.submit.primary {
            padding: 15px 20px;
            width: inherit;
            border: 0;
            border-radius: 0;
            color: #fff;
            .lib-css(background, @amreview-button__color);
        }

        .label-gdpr.amreview-checboxlabel span {
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 5px;
        }
    }

    .amreview-upload-img {
        margin: 15px 0;
    }

    .amreview-recommend-wrap, .amreview-gdpr-wrap {
        & {
            padding: 20px 0 0;
        }

        > .amreview-checbox {
            visibility: hidden;//element should be visible for working require validation
            position: absolute;
            left: 18px;
            z-index: 1;
        }

        > .amreview-checboxlabel {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            z-index: 10;
        }

        > .amreview-checboxlabel:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid #c4c4c4;
            box-sizing: border-box;
            background: #fff;
        }

        > .amreview-checbox:not(.valid) + .mage-error[generated] + .amreview-checboxlabel:before {
            border: 1px solid #e02b27;
        }

        > .amreview-checbox:checked ~ .amreview-checboxlabel:after
        {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            width: 20px;
            height: 20px;
            .lib-css(background, @amreview-form-check__background no-repeat center);
        }
    }

    .field.amreview-gdpr-wrap {
        padding: 0;
        position: relative;
    }

    .amreview-gdpr-wrap .mage-error[generated] {
        bottom: -30px;
        position: absolute;
    }

    .amreview-proscons-container {
        & {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            margin: 15px 0 30px;
            word-break: break-word;
            word-wrap: break-word;
        }

        .amreview-proscons {
            position: relative;
            min-width: 0;
            margin-right: 10px;
            padding: 0 0 0 20px;
            line-height: 15px;
        }

        .amreview-proscons:before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            width: 15px;
            height: 15px;
        }

        .amreview-proscons.-dislike {
            .lib-css(color, @amreview-cons__color);
        }

        .amreview-proscons.-like {
            .lib-css(color, @amreview-pros__color);
        }

        .amreview-proscons.-dislike:before {
            .lib-css(background, @amreview-disadvantages__background);
            background-size: contain;
        }

        .amreview-proscons.-like:before {
            .lib-css(background, @amreview-advantages__background);
            background-size: contain;
        }
    }

    .field.review-field-recommend.amreview-recommend-wrap {
        position: relative;
        left: -15px;
        width: 100%;
        padding: 20px 15px 20px 15px;
        background-color: #e0e0e0;
        margin-top: 20px;
    }

    .field.amreview-email-wrap {
        margin: 0 0 10px;
    }

    .amreview-summary-details {
        .amreview-label {
            display: block;
            cursor: pointer;
            text-decoration: none;
            color: unset;
        }
    }
}

//
//  Mobile +
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .amreview-submit-form .review-form {
        & {
            width: 100%;
            max-width: 100%;
            padding: 0 0 0 5px;
            box-sizing: border-box;
        }

        .fieldset.review-fieldset {
            max-width: 500px;
            padding: 25px 20px 10px;
        }

        .review-form-actions {
            padding: 0 0 20px 20px;
        }

        .actions-toolbar .actions-primary {
            text-align: left;
        }

        .fieldset.review-fieldset {
            position: relative;
            margin: auto;
            padding-left: 135px;
        }

        .field.review-field-recommend.amreview-recommend-wrap {
            left: -135px;
            padding: 20px 125px 20px 15px;
            margin-top: 30px;
        }

        .fieldset > .field > .label {
            position: absolute;
            left: 0;
            max-width: 130px;
        }

        .amreview-upload-img {
            margin: 30px 0;
        }

        .actions-toolbar.review-form-actions {
            margin: auto;
            padding: 30px 20px 30px 135px;
            max-width: 500px;
        }
    }

    .amreview-proscons-container {
        .lib-vendor-prefix-flex-direction(row);
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .amreview-widget-container {
        .slick-dots {
            button {
                border: 1px solid #cccccc;
            }
        }
    }
}

//
//  Tablet +
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .amreview-summary-info,
    .amreview-summary-details,
    .amreview-review-list {
        padding: 0;
    }

    .amreview-summary-info {
        .amreview-percent {
            display: block;
        }

        .amreview-showmore {
            display: none;
        }
    }

    .amreview-summary-info,
    .amreview-summary-details {
        display: inline-block;
    }

    .amreview-summary-details {
        margin-left: 20px;
    }

    .amreview-add-new {
        & {
            margin: 40px 0 65px;
            text-align: center;
        }

        .amreview-label {
            max-width: 160px;
            text-align: left;
        }
    }

    .amreview-author-details {
        & {
            display: inline-block;
            margin: 0 10px 0 0;
            width: 25%;
            vertical-align: top;
        }

        .amreview-verified {
            display: block;
            margin: 0 0 20px;
        }

        .amreview-author {
            margin: 0 0 5px;
        }

        .amreview-date {
            position: static;
        }
    }

    .amreview-recommended {
        position: relative;
        margin-bottom: 20px;
        padding: 10px;
        max-width: 90px;
        line-height: 14px;
        .lib-css(border-left, 2px solid @amreview-recommended__color);
        color: #6B6B6B;
        .lib-css(background, @amreview-review-form__background);
    }

    .amreview-recommended:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -38px;
        display: block;
        border: 24px solid transparent;
        .lib-css(border-left, 14px solid @amreview-review-form__background);
    }

    .amreview-toolbar-wrap {
        &.review-toolbar .pages {
            float: right;
            padding: 20px 0px;
            border: 0;
        }

        &.review-toolbar .limiter {
            float: left;
            padding: 20px 0;
        }
    }

    .amreview-submit-form .review-form {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .amreview-review-wrapper {
        &.review-item {
            padding: 30px 0;
        }
    }

    .amreview-review-list {
        & {
            position: relative;
            overflow: hidden;
        }

        &:after {
            content: '';
            position: absolute;
            top: 55%;
            display: inline-block;
            width: 100%;
            height: 1px;
            background: #c4c4c4;
        }

        > .am-strong {
            background: #fff;
            padding-right: 20px;
        }
    }

    .amreview-description-wrap {
        position: relative;
        display: inline-block;
        width: 70%;
    }

    .slick-initialized .slick-slide {
        display: inline-block;
    }

    .slick-slider .slick-arrow {
        .lib-css(background, @amreview-slider-arrow__background center no-repeat);
    }
}

//
//  Desktop +
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .amreview-author-details {
        margin: 0 20px 0 0;
        width: 20%;
    }

    .amreview-description-wrap {
        width: 75%;
    }

    .amreview-helpful-wrap {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }

    .amreview-title-review {
        margin-right: 280px;
    }

    .amreview-add-new .amreview-button.action {
        margin-right: 15px;
        padding: 15px;
    }

    .amreview-customer-review {
        margin-bottom: 25px;
    }

    .amreview-info-wrapper {
        & {
            margin-bottom: 60px;
        }

        .amreview-summary-info,
        .amreview-summary-details,
        .amreview-add-new {
            vertical-align: middle;
        }

        .amreview-summary-details {
            padding-right: 45px;
            border-right: 1px solid #c4c4c4;
        }

        .amreview-add-new {
            display: inline-block;
            margin: 0 0 0 25px;
            background: none;
        }
    }
}
