<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Preorder
 * @author    Webkul
 * @copyright Copyright (c) 2010-2018 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<div class="wk-loading-mask wk-display-none">
    <div class="wk-loader"></div>
</div>
<?php
    $helper = $this->helper('Webkul\Preorder\Helper\Data');
    $cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
    $preorderCompleteProductId = $helper->getPreorderCompleteProductId();
    $options = $helper->getPreorderCompleteOptions(false);
    $_order = $block->getOrder();
    $_items = $_order->getItemsCollection();
    $incrementId = "#".$_order->getIncrementId();
    $product = $helper->getProduct($preorderCompleteProductId);
    $url = $cartHelper->getAddUrl($product);
    $result = $helper->getOrderItemsResult($_order);
    $displayMessage = $result['display_msg'];
    $info = $result['info'];
?>
<?php 
    $orderId = $_order->getId();
    $data = [
                "option" => $options,
                "info" => $info,
                "display_msg" => $displayMessage,
                "msg" => $helper->getPreorderNote(),
                "orderid" => $orderId,
                "incrementId" => $incrementId,
                "url" => $url,
                "buttonLabel" => __("Complete Preorder"),
                "preorderCompleteProductId" => $preorderCompleteProductId
            ];
    $data = json_encode($data);
?>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_Preorder/js/items": <?php echo $data ?>
        }
    }
</script>