<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Preorder
 * @author    Webkul
 * @copyright Copyright (c) 2010-2018 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<div class="wk-loading-mask wk-display-none">
    <div class="wk-loader"></div>
</div>
<?php
    $helper = $this->helper('Webkul\Preorder\Helper\Data');
    $productId = $this->getProduct()->getId();
    $flag = 0;
    if($helper->isPreorder($productId)) {
        $flag = 1;
    }
    $payHtml = $helper->getPayPreOrderHtml();
    $msg = $helper->getPreOrderInfoBlock($productId);
    $url = $helper->getCheckConfigUrl();
    $data = [
                "payHtml" => $payHtml,
                "msg" => $msg,
                "flag" => $flag,
                "url" => $url,
                "productId" => $productId,
                "preOrderLabel" => __("Pre Order"),
                "outOfStockLabel" => __("Out of stock")
            ];
    $data = json_encode($data);
?>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_Preorder/js/view": <?php echo $data ?>
        }
    }
</script>