div.wallkit_post {
    background: #fff;
    padding: 8px;
    border:1px solid #e5dcc3;
    margin-right: 0;
}

.fb_protected_wrapper {
    background : #f1ecdb;
    padding : 15px 10px;
    border:1px solid #e5dcc3;
}
#amfbreview .fb-comments .amasty-advanced-review{
	display: none;
}