// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-search {
        margin-bottom: 0;

        .block {
            &-title {
                display: none;
                margin: 0;
                font-size: 16px;
                strong {
                    display: none;
                }
            }
        }

        .block-content {
            margin-bottom: 0;
        }

        .label {
            .lib-icon-font(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 22px,
            @_icon-font-line-height: 28px,
            @_icon-font-margin: 0 @indent__s 0 0,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color-hover,
            @_icon-font-text-hide: true
            );
            display: none;
            float: right;

            &.active {
                + .control {
                    input {
                        position: static;
                    }
                }
            }
        }

        .action.search {
            display: none;
        }

        .control {
            clear: both;
            margin: 0 -@layout__width-xs-indent -1px;
            padding: 0 @layout__width-xs-indent;
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        display: none;
        margin-top: 0 !important;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        top: 100%;
        left: 0;
        max-width: 100%;
        width: 100% !important;
        .amsearch-results {
            border: none;
            padding: 0;
            .amsearch-leftside {
                display: none;
            }
            .amsearch-products.-columns {
                border: none;
                .amasty-xsearch-block-header {
                    font-weight: 500;
                    color: #000;
                    text-transform: capitalize;
                    font-size: 12px;
                }
                .amsearch-item {
                    padding: 0 0 15px 0;
                    .product-item-name {
                        height: auto;
                        margin: 0;
                        a {
                            font-weight: 400;
                            font-size: 14px;
                        }
                    }
                    .price-box {
                        margin: 5px 0;
                        .price {
                            font-size: 14px;
                        }
                    }
                    .product-item-actions {
                        overflow: hidden;
                        .actions-primary {
                            .action.primary {
                                height: 40px;
                                line-height: initial;
                                float: left;
                                font-size: 13px;
                                padding: 0 30px;
                            }
                        }
                    }
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }


        ul {
            .lib-list-reset-styles();

            &:not(:empty) {
                .lib-css(background, @autocomplete__background-color);
                .lib-css(border, @autocomplete__border);
                border-top: 0;
            }

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        &:extend(.abs-forms-general-desktop all);

        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }

                &.date {
                    &:extend(.abs-field-date all);
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search-terms {
        &:extend(.abs-reset-list all);
        line-height: 2em;

        > li {
            display: inline-block;
            margin-right: @indent__s;
        }
    }

    .search.found {
        margin-bottom: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-1024) {
    .block-search {
        position: absolute;
        top: 30px;
        right: 46px;
        width: 280px;
        z-index: 4;
        .block-title {
            display: block;
            float: right;
        }
        .block-content {
            display: none;
        }
        .control input {
            border: 1px solid #f1f1f1;
            font-size: 12px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-search {
        position: static;
        width: 100%;
        .block-title {
            font-size: 15px;
            position: absolute;
            top: 25px;
            right: 40px;
        }
        .block-content {
            background: #ffffff;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            z-index: 9;
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .block-search {
        position: relative;
        margin-top: 13px;
        z-index: 4;

        .label {
            &:extend(.abs-visually-hidden-desktop all);
            display: none;
        }

        .control {
            border-top: 0;
            margin: 0;
            padding: 0;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            margin: 0;
            height: 48px;
            float: none;
            display: inline-block;
            position: static;
            border-radius: 5px;
            border-color: @border_bottom;
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 16px,
            @_icon-font-text-hide: true,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover,
            @_icon-font-line-height: 32px
            );
            .lib-button-reset();
            position: absolute;
            right: @indent__s;
            top: 0;
            z-index: 1;
            opacity: 1 !important;
            &:before {
                font-size: 18px;
                line-height: 28px;
                color: #93969f;
                font-weight: 600;
            }
        }
    }

    .search-autocomplete {
        margin-top: 0 !important;
    }
}
