<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');

$connection = $resource->getConnection();
$sql = "SELECT * FROM ves_brand ORDER BY name";
$result = $connection->fetchAll($sql);
//echo '<pre>';
//print_r($result);
//echo '</pre>';
?>
<div class="esbrand">
	<div class="block widget ves-widget brand-widget ">
		<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="row">
		<?php foreach ($result as $_brand) { 
						$status = $_brand['status'];
						?>				
						<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" <?php if($status == 0){?> style="display: none;"<?php } ?>>
							<div class="brand-item">
									<div class="brand-image"><a href="<?php echo $_brand['url_key']; ?>" title="<?php echo $_brand['name']; ?>"><img src="https://www.essexsupplements.co.uk/pub/media/<?php echo $_brand['thumbnail']; ?>"/></a>
									</div>					
									<div class="brand-name"><a href="<?php echo $_brand['url_key']; ?>" title="<?php echo $_brand['name']; ?>"><?php echo $_brand['name']; ?></a>							</div>
							</div>
						</div>						
		<?php } ?>
				</div>
			</div>
		</div>
	</div>
</div>