<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$collection = $productCollection->addAttributeToSelect("*")->joinField('rating_score',
    'review_entity_summary',
    'rating_summary',
    'entity_pk_value=entity_id',
    array('entity_type'=>1, 'store_id'=> 1, 'rating_summary'=> 100),
    'right'
);
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
?>
<div class="innerowlsection">
	<h2>Top Rated Products</h2>
	<ol class="product-items owl-carousel owlslider">
		<?php foreach ($collection as $product) {?>
		<li>
			<div class="es-pro-img"><img src="<?php echo $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();?>" /></div>
			<div class="es-pro-name"><a href="<?php echo $product->getProductUrl();?>"><?php echo $product->getName();?></a></div>
			
			<div class="es-pro-rating"><?php
				$productId = $product->getId();
				$reviewFactory = $objectManager->create('Magento\Review\Model\Review');
				$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
				$storeManager  = $objectManager->create('\Magento\Store\Model\StoreManagerInterface');
				$storeId = $storeManager->getStore()->getStoreId();
				$reviewFactory->getEntitySummary($product, $storeId);

				$ratingSummary = $product->getRatingSummary()->getRatingSummary();
				$reviewCount = $product->getRatingSummary()->getReviewsCount();
				?>
				<?php if($ratingSummary){ ?>
				<div class="product-reviews-summary short">
					<div class="rating-summary">
						<div title="<?php echo (int)$ratingSummary; ?>%" class="rating-result">
							<span style="width:<?php echo (int)$ratingSummary; ?>%"><span><?php echo (int)$ratingSummary; ?>%</span></span>
						</div>
					</div>
					<div class="reviews-actions">
						<?php echo __('('.$reviewCount.') Reviews'); ?>
					</div>
				</div>
				<?php } ?>
			</div>
			
			<div class="es-pro-price"><?php echo $formattedPrice = $priceHelper->currency($product->getFinalPrice(), true, false);?></div>
			
			<div class="es-pro-details"><a href="<?php echo $product->getProductUrl();?>">View Details</a></div>
			<?php }
		
			?>
		</li>
	</ol>
</div>
<script>
require(['jquery'],function($){
		$(document).ready(function(){					
		$('.owltopslider').owlCarousel({
				loop:true,
				nav: true,
				dots: false,
				autoplay:2000,
				responsive:{
					0:{
						items:2
					},
					768:{
						items:3
					},
                    1024:{
                        items:4
                    },
                    1200:{
                        items:5
                    }
				}
			});
		});
	});
</script>

<style>
</style>