<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>
<div class="centre-div">
<div class="contact-us">
<div class="row">
<h3 class="view"><span>We Are Here To Help You</span></h3>
<p><span>We pride ourselves on our friendly and unrivalled service. This includes right from the moment you login and can view our live stock levels and the free next day delivery on all UK orders, right the way through to in-person visits to run through some deals and provide you with some free samples of the latest products for you to try.</span></p>
<div class="col-sm-4 each-contact"><span><i class="fa fa-map-marker"></i></span>
<div class="each-text"><span><strong>HEAD OFFICE</strong> </span><br /><span> Essex Supplements. </span></div>
</div>
<div class="col-sm-4 each-contact "><span><i class="fa fa-futbol"></i></span>
<div class="each-text"><span><strong>SUPPORT</strong> </span><br /><span> 0203 915 2661</span></div>
</div>
<div class="col-sm-4 each-contact"><span><i class="fa fa-envelope"></i></span>
<div class="each-text"><span><strong>Email</strong> </span><br /><span> support@essexsupplements.co.uk</span></div>
</div>
<div class="esmap"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.5406808038324!2d-0.009718684605468092!3d51.55832097964348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761d9c6aeac361%3A0x94ae1a766a1bc65!2sPT+Nutrition+UK!5e0!3m2!1sen!2sus!4v1520663269312" width="100%" height="400" frameborder="0" allowfullscreen=""></iframe></div>
</div>
</div>
<div class="contact-us esform"><!--{{block class="Magento\Contact\Block\ContactForm" name="contactForm" template="Magento_Contact::form.phtml"}}-->
<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
		<h3><?= $block->escapeHtml(__('Get In Touch')) ?></h3>
        <p><?= $block->escapeHtml(__('Subscribe to the Essex Supplements newsletter to receive timely updates from your favourite products.')) ?></p>
        <div class="field name required">
            <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field telephone">
            <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="comment"><span><?= $block->escapeHtml(__('What’s on your mind?')) ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="8" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
            </div>
        </div>
        <?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
</div>
</div>

