// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-gray34;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .swatch-attribute.size .swatch-option,
    .swatch-attribute.manufacturer .swatch-option {
        color: #333;
    }

    .page-layout-1column {
        .product-info-container {
            .product-info-main {
                width: 100%;
                padding: 0;
                display: inline-block;
                .page-title-wrapper {
                    h1 {
                        margin-bottom: 5px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 25px;
                    }
                }
				.mp_social_share_inline_under_cart {
					display: none;
				}
            }

            .product.media {
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
            }
            .product.nutritional {
                width: 100%;
                border: 1px solid #ccc;
                padding: 10px;
                border-top: 4px solid;
                margin-bottom: 15px;
                h2 {
                    margin: 0;
                    padding-bottom: 10px;
                    font-size: 20px;
                    font-weight: 500;
                }
				p {
					line-height: 26px;
                    font-size: 13px;
				}
                ul li {
                    line-height: 23px;
                    font-size: 13px;
					margin: 0 0 8px;
                }
				.safetyinfo {
					margin: 15px 0 0;
				}
            }
        }
        .descriptionwhy {
			display: none;
            .product.info.detailed {
                margin-bottom: 10px;
            }
            .why-buy-from-us {
                padding: 15px 10px;
                background: #ebebeb;
                h2 {
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #000;
                    margin: 0;
                    line-height: 25px;
                }
            }
        }
    }

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        color: @theme_txt_color;
        font-weight: 400;
        font-size: 13px;
    }

.special-price {
    .price-label {
        &:extend(.abs-visually-hidden all);
    }
}

.category-image {
    .image {
        display: block;
        height: auto;
        max-width: 100%;
    }
}

.category-cms,
.category-image,
.category-description {
    margin-bottom: @indent__base;
}

//
//  Product images general container
//  -----------------------------------------

.product-image-container {
    display: inline-block;
    max-width: 100%;
}

.product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

//
//  Product view
//  -----------------------------------------

.product.media {
    .product.photo .photo.image {
        &:extend(.abs-adaptive-images-centered);
    }

    .placeholder .photo.container {
        max-width: 100%;
    }

    .notice {
        margin: @indent__s 0;
        .lib-css(color, @text__color__muted);
        .lib-font-size(@font-size__s);
    }

    .product.thumbs {
        margin: @indent__s 0 @indent__m;
    }

    .items.thumbs {
        .lib-list-inline();
        > li {
            margin: 1rem 0 0;
        }

        img {
            display: block;
        }

        .active {
            display: block;
            line-height: 1;
        }
    }
}

.product.info.detailed {
    clear: both;
    margin-bottom: 30px;

    .additional-attributes {
        width: auto;
        .lib-table-bordered(
            @_table_type: clear
        );
        .lib-table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent__l,
            @_th-padding-bottom: @indent__s,
            @_td-padding-bottom: @indent__s
        );
    }
}

.product-info-main {
    .product-info-price {
        padding: 4px 0 5px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;

        .price-box {
            display: inline-block;
            margin-right: 10px;
            .special-price {
                display: inline-block;
            }

            .price-container {
				.price-label {
					display: none !important;
				}
			
                > span {
                    display: block;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .old-price {
                .price-container {
                    .price-label {
                        display: none;
                    }
                }
            }
        }

        .price-including-tax + .price-excluding-tax,
        .weee + .price-excluding-tax,
        .weee {
            .lib-font-size(14);
            .price {
                .lib-font-size(14);
                font-weight: 400;
                line-height: 16px;
                color: @price_color;
            }
        }

        .price-wrapper .price {
            .lib-font-size(22);
            font-weight: 400;
            line-height: 22px;
            color: @price_color;
        }

        .old-price {
            .price-wrapper .price {
                .lib-font-size(17);
                font-weight: @font-weight__light;
                text-decoration: line-through;
            }
        }

        .special-price {
            .price-label {
                &:after {
                    content: ': ';
                }
            }
        }

        .price {
            white-space: nowrap;
        }
    }

    .price-tier_price {
        display: inline-block;
    }

    .product-info-stock-sku {
        text-align: left;
		padding-left: 1%;
		display: inline-block;
		padding-top: 1px;
		float: right;
    }

    .stock {
        margin: 0 0 3px;

        &.available,
        &.unavailable {
            font-weight: 400;
            text-transform: capitalize;
            color: #3b815d;
        }
    }

    .product.attribute.sku {
        word-break: break-all;
        word-wrap: break-word;
        display: none;
    }

    .product {
        &.attribute {
            &.sku {
                .type {
                    font-weight: normal;
                    margin-right: @indent__xs;

                    &:after {
                        content: '#:';
                    }
                }

                .value {
                    display: none;
                }
            }

            &.overview {
                display: none;
                margin: 10px 0 15px;
                h5 {
                    font-size: 20px;
                    color: #000;
                    margin: 0;
                    padding-bottom: 10px;
                    font-weight: 500;
                }
                p {
                    color: #6f6f6f;
                    font-size: 13px;
                    line-height: 23px;
                }
            }
        }

        &.alert {
            margin: @indent__s 0;
        }
    }

    .product-brands {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
        img {
            max-width: 120px;
            border: 1px solid #e6007f;
            padding: 5px;
        }
        li {
            a {
                display: block;
                text-align: center;
                font-size: 12px;
            }
        }
    }
    .product-view-socialicons {
        float: left;
        margin-top: 20px;
		display: none;
        h4 {
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
            margin-right: 10px;
        }
        ul {
            display: inline-block;
            li {
                display: inline-block;
                padding: 0 10px;
                a {
                    font-size: 14px;
                    vertical-align: middle;
                    color: @theme_txt_color;
                }
            }
        }
    }

    .product-add-form {
        clear: both;
        .swatch-opt {
            margin: 10px 0;
            .swatch-attribute {
                margin-bottom: 5px;
                span {
                    color: #000;
                    font-weight: 500;
                }
                .swatch-attribute-selected-option {
                    display: none;
                }
                .swatch-attribute-options {
                    margin-top: 4px;
                    .swatch-option {
                        &.text {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 30px;
                            padding: 0 10px;
                            min-width: 22px;
                            margin-right: 7px;
                            height: 30px;
                            background: #fff;
                            color: #979797;
                        }
                        &.selected {
                            outline: 1px solid #000;
                            border: 1px solid #fff;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .product-reviews-summary {
        .reviews-actions {
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }

    .product-options-bottom {
        .box-tocart {
            margin: 20px 0 10px;
        }
    }
}

.product-options-wrapper {
    .fieldset-product-options-inner {
        .legend {
            .lib-css(font-weight, @font-weight__semibold);
            .lib-font-size(14px);
            border: none;
            display: inline-block;
            float: none;
            margin: 0 0 8px;
            padding: 0;
        }

        //  Date & Time custom option (Affect Time that goes only after Date)
        input.datetime-picker {
            ~ select.datetime-picker {
                margin-top: @indent__s;
            }
        }

        &.required,
        &._required {
            .legend {
                &:after {
                    content: '*';
                    .lib-typography(
                    @_font-size: @form-field-label-asterisk__font-size,
                    @_color: @form-field-label-asterisk__color,
                    @_font-family: @form-field-label-asterisk__font-family,
                    @_font-weight: @form-field-label-asterisk__font-weight,
                    @_line-height: @form-field-label-asterisk__line-height,
                    @_font-style: @form-field-label-asterisk__font-style
                    );
                }
            }
        }
    }

    .field {
        .note {
            display: block;
            .lib-css(margin-top, @indent__xs);
        }
    }
}

.product-options-bottom .price-box,
.product-info-price .price-box {
    .lib-css(color, @product-info-price);
    display: table-cell;
    vertical-align: top;

    .old-price {
		font-size: 16px;
		font-weight: 300;
		margin-left: -20px;
		float: right;
		margin-top: 2px;

        .price-container > span {
            display: inline-block;
        }
    }

    .price-container {
        > span {
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price {
            font-size: 22px;
            font-weight: 500;
            line-height: 22px;
        }

        .price-including-tax + .price-excluding-tax,
        .weee + .price-excluding-tax,
        .weee {
            .lib-font-size(12);
            line-height: 14px;

            .price {
                .lib-font-size(12);
                font-weight: @font-weight__bold;
            }
        }
    }
}

.box-tocart {
    margin: 15px 0 10px;
    .field.qty {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
        .label {
            display: none;
        }
    }
    .input-text.qty {
        &:extend(.abs-input-qty all);
    }
    .actions {
        display: inline-block;
    }
    .action.tocart {
        &:extend(.abs-button-l all);
        &:extend(.abs-button-responsive all);

        &:not(:last-child) {
            margin-bottom: 5px;
        }
        padding: 0 40px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
    }
}

.product-addto-links {
    float: left;
    margin-top: -55px;
    margin-left: 250px;
    .action.towishlist {
        span {
            display: none;
        }
    }
    .action {
        color: @theme_txt_color !important;
        font-weight: 400 !important;
    }
}

.product-social-links {
    margin: 0;
    text-align: center;
    font-size: 12px;
    .mailto.friend,
    .tocompare {
        display: none !important;
    }
    .action.tocompare {
        &:extend(.abs-actions-addto all);
        .lib-icon-font-symbol(
            @_icon-font-content: @icon-compare-full,
            @_icon-font-position: before
        );
    }
}
.brand-label {
    display: block;
    margin-bottom: 5px;
}

.prices-tier {
    &:extend(.abs-reset-list all);
    margin-bottom: @indent__s + @indent__xs;

    .item {
        margin-bottom: @indent__s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .price-excluding-tax,
    .price-including-tax {
        display: inline-block;
    }
}

.minimal-price-link,
.price-excluding-tax,
.price-including-tax {
    display: block;
    white-space: nowrap;
}

.ui-dialog-titlebar-close {
    .lib-button-as-link();
}

//
//  Sidebar product view
//  -----------------------------------------

.sidebar {
    .product-items {
        .product-item {
            margin-bottom: @indent__base;
            position: relative;
        }

        .product-item-info {
            position: relative;
            width: auto;

            .product-item-photo {
                left: 0;
                position: absolute;
                top: 0;
            }
        }

        .product-item-name {
            margin-top: 0;
        }

        .product-item-details {
            margin: 0 0 0 85px;
        }

        .product-item-actions {
            display: block;
            margin-top: @indent__s;
        }

        .price-box {
            display: block;
            margin: 7px 0;
        }

        .text {
            margin-right: 8px;
        }

        .counter {
            .lib-css(color, @primary__color__lighter);
            font-size: 12px;
            white-space: nowrap;
        }

        .minilist {
            .price {
                display: inline;
                padding: 0;
            }

            .weee:before {
                display: inline-block;
            }
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    .action.tocart {
        border-radius: 0;
    }

    .subtitle {
        &:extend(.abs-no-display all);
    }

    //
    //  Product images only
    //  -------------------------------------

    .product-items-images {
        &:extend(.abs-add-clearfix all);
        margin-left: -@indent__xs;

        .product-item {
            &:extend(.abs-add-box-sizing all);
            float: left;
            padding-left: @indent__xs;
        }
    }

    //
    //  Product names only
    //  -------------------------------------

    .product-items-names {
        .product-item {
            margin-bottom: @indent__s;
        }

        .product-item-name {
            margin: 0;
        }
    }
}

//
//  Category page 1 column layout
//  ---------------------------------------------

.catalog-category-view.page-layout-1column {
    .column.main {
        min-height: inherit;
    }
}
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
    .category-view {
        .category-image {
            display: none;
        }
        .category-description {
            text-align: center;
            h2 {
                margin-top: 0;
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: 500;
            }
            p {
                line-height: 22px;
                font-size: 13px;
            }
        }
    }
	.product-options-bottom,
	.product-info-price {	
		.price-box {
			.old-price {
				margin-left: -45px;
				margin-top: 0;
			}
		}
	}
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }

    .product-info-price {


        > *:first-child {

        }

        > *:last-child {

        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
    .product-item-actions {
        .actions-primary {
            .action.primary {
                font-size: 12px;
                font-weight: 500;
                height: 38px;
                line-height: 36px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
.page-layout-2columns-left {
    .column.main {
        width: 75%;
    }
    .sidebar-main {
        width: 22.5%;
        padding-right: 0;
    }
}
.product-info-main {
    .product-view-socialicons {
        margin-left: 15px;
        h4 {
            font-size: 16px;
            margin-right: 20px;
        }
        ul {
            li {
                a {
                    font-size: 25px;
                }
            }
        }
    }
    .product-info-stock-sku {
        padding-top: 10px;
    }
}
.product.name a {
    font-weight: 500;
    font-size: 15px;
}


.category-view {
    overflow: hidden;
    .category-image {
        width: 35%;
        float: left;
        .image {
            margin: 0 auto;
        }
    }
    .category-description {
        width: 65%;
        display: inline-block;
        margin: 20px 0;
        h2 {
            margin-top: 0;
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 500;
        }
        p {
            line-height: 25px;
        }
    }
}



.box-tocart {
    .action.tocart {
        margin-bottom: 0;
        height: 50px;
        padding: 0 50px;
        font-size: 16px;
    }
}

.product-social-links {
    text-align: left;
}
.product-addto-links {
    margin-left: 290px;
}
.product-options-bottom,
.product-info-price {
    .price-box {
        .price-container {
            font-size: @font-size__xl;

            .price {
                font-size: 30px;
                line-height: 30px;
                font-weight: 600;
            }
        }

        .price-including-tax + .price-excluding-tax {
            .price {
                .lib-font-size(14);
                line-height: 16px;
            }
        }
    }
}

//
//  Category page layout
//  -----------------------------------------
.page-layout-2columns-left,
.page-layout-2columns-right,
.page-layout-3columns {
    .product-info-main {
        width: 48%;
    }

    .product.media {
        width: 50%;
    }
}

.product-add-form {
    .product-options-wrapper {
        .field {
            .control {
                width: 80%;
            }
        }
    }
}

.sidebar {
    .product-items {
        .product-item-info {
            .product-item-photo {
                float: left;
                left: auto;
                margin: 0 @indent__s @indent__s 0;
                position: relative;
                top: auto;
            }
        }

        .product-item-details {
            margin: 0;
        }

        .product-item-actions {
            clear: left;
        }
    }
}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-992) {
    .page-layout-1column {
        .product-info-container {
            .product-info-main {
                width: 50%;
                float: left;
                padding: 0 20px;
                .page-title-wrapper {
                    h1 {
                        margin-bottom: 2px;
                        font-size: 28px;
                        font-weight: 500;
                        line-height: 35px;
                    }
                }
            }

            .product.media {
                width: 50%;
                float: left;
                margin-bottom: @indent__m;
                text-align: center;
            }
        }

    }

    .swatch-attribute.size .swatch-option,
    .swatch-attribute.manufacturer .swatch-option {
        background: #fff;
        color: #979797;
    }

    .product-info-main {
        .product-add-form {
            .product-options-wrapper {
                .swatch-opt {
                    .swatch-attribute {
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025){
    .page-layout-1column {
        .descriptionwhy {
            overflow: hidden;
            margin-top: 20px;
            .product.info.detailed {
                float: left;
                width: 50%;
                display: inline-block;
            }
            .why-buy-from-us {
                float: left;
                width: 45%;
                padding: 30px 50px;
                background: #ebebeb;
                margin-left: 5%;
                h2 {
                    font-size: 35px;
                    font-weight: 500;
                }
                p {
                    font-weight: 400;
                }
            }
        }
    }
    .category-view {
        .category-description {
            margin: 45px 0;
            h2 {
                font-size: 2.6rem;
            }
        }
    }
}
//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
.sidebar {
    .product-items {
        .product-item-info {
            .product-item-photo {
                float: none;
                left: 0;
                margin: 0;
                position: absolute;
                top: 0;
            }
        }

        .product-item-details {
            margin-left: 85px;
        }
    }
}
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

//
//  Compare Products Page
//  -----------------------------------------

body.catalog-product-compare-index {
    .action.print {
        float: right;
        margin: 15px 0;
    }
}

.table-wrapper.comparison {
    clear: both;
    max-width: 100%;
    overflow-x: auto;
    position: relative; // Needed for Safari(iOS) to properly render "overflow-x" rule.

    .table-comparison > tbody > tr {
        > th,
        > td {
            border-top: 0;
        }
    }
}

.table-comparison {
    table-layout: fixed;

    .cell {
        padding: 15px;
        width: 180px;

        &.label {
            border-right: @table__border-width @table__border-style @table__border-color;

            &.remove,
            &.product {
                span {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .attribute.label {
                display: block;
                width: 100%;
                word-wrap: break-word;
            }
        }

        &.product {
            &.info,
            &.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
            }
        }

        &.attribute {
            .lib-font-size(13);

            img {
                height: auto;
                max-width: 100%;
            }
        }

        &.remove {
            padding-bottom: 0;
            padding-top: 0;
            text-align: right;

            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
                margin-right: .6rem;
            }
        }

        .attribute.value {
            overflow: hidden;
            width: 100%;
        }
    }

    td {
        &:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }
    }

    .product-item-photo {
        display: block;
        margin: 0 auto 15px;
    }

    .product-image-photo {
        margin-left: 0;
    }

    .product-item-actions,
    .price-box,
    .product.rating,
    .product-item-name {
        display: block;
        margin: 15px 0;
    }

    .product-addto-links {
        margin-top: 15px;

        .action {
            &.toggle {
                padding: 0;
            }

            &.split,
            &.toggle {
                .lib-button-s();
            }
        }
    }

    .action {
        &.tocart {
            white-space: nowrap;
        }
    }
}

.comparison.headings {
    .lib-css(background, @color-white);
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 2;
}

.block-compare {
    .block-title {
        &:extend(.abs-block-widget-title all);
    }

    .product-item .product-item-name {
        margin-left: 22px;
    }

    .action.delete {
        &:extend(.abs-remove-button-for-blocks all);
        left: 0;
        position: absolute;
        top: 0;
    }

    .counter {
        &:extend(.abs-block-items-counter all);
    }

    .actions-toolbar {
        margin: 17px 0 0;
    }

    .action.primary {
        &:extend(.abs-revert-to-action-secondary all);
    }
}
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
.table-wrapper.comparison {
    .table-comparison > tbody > tr {
        > th,
        > td {
            display: table-cell;
            &:extend(.abs-col-no-prefix all);
        }
    }
}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
.compare.wrapper,
[class*='block-compare'] {
    display: none;
}
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
.compare.wrapper {
    float: right;
    .lib-list-reset-styles();

    .action.compare {
        line-height: @form-element-input__height;
        .lib-link(
            @_link-color: @primary__color,
            @_link-text-decoration: none,
            @_link-color-visited: @primary__color,
            @_link-text-decoration-visited: none,
            @_link-color-hover: @primary__color,
            @_link-text-decoration-hover: underline,
            @_link-color-active: @primary__color,
            @_link-text-decoration-active: underline
        );
    }

    .counter.qty {
        .lib-css(color, @primary__color__lighter);

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }
}
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

.block.related {
    .action.select {
        &:extend(.abs-action-button-as-link all);
        vertical-align: top;
    }

    .product-item-details {
        position: relative;
        z-index: 1;
    }

    .related-available .product-item-name {
        margin-left: 20px;
    }

    .field.choice {
        left: 0;
        position: absolute;
        top: 2px;

        .label {
            &:extend(.abs-visually-hidden all);
        }
    }
}
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
.box-tocart {
    .paypal:first-of-type {
        margin-top: 13px;
    }
}
}
