// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-product-link,
    .block-category-link {
        &.widget {
            display: block;
            margin-bottom: @indent__base;
        }
    }

    .block-product-link-inline {
        &.widget {
            margin: 0;
        }
    }

    .block.widget {
        .product-item-info {
            width: auto;
            padding: 0 10px;
        }
        .products-grid {
            .product-item {
                padding: 0 5px;
                width: 100%;
                .product-item-info {
                    .product-item-details {
                        .product-item-name a {
                            color: @theme_txt_color;
                            font-weight: 400;
                            font-size: 13px;
                        }
                        .product-item-actions {
                            text-align: center;
                            .actions-primary {
                                .action.tocart {
                                    width:100%;
                                    text-transform: uppercase;
                                }
                            }
                            .actions-secondary {
                                padding: 5px 0;
                                > .action {
                                    color: @theme_txt_color;
                                }
                            }
                        }
                    }
                    &:hover {
                        .product-item-details .product-item-actions {

                        }
                    }
                }
            }
            .owl-nav {
                .owl-prev {
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 50px;
                }
                .owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -10px;
                    font-size: 50px;
                }
            }
        }

        .pager {
            padding: 0;

            .toolbar-amount {
                float: none;
                .lib-font-size(12);
            }

            .pages-item-previous {
                padding-left: 0;
            }

            .pages-item-next {
                position: relative;
            }

            .items {
                white-space: nowrap;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .block.widget .products-grid .product-item,
    .page-layout-1column .block.widget .products-grid .product-item,
    .page-layout-3columns .block.widget .products-grid .product-item {

    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-992) {
    .block.widget {
        .product-item-info {
            width: auto;
            padding: 0 10px;
        }
        .products-grid {
            .product-items {
                .product-item {
                    .product-item-info {
                        .product-item-details {
                            .product-item-name a {
                                font-weight: 500;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.widget .products-grid .product-item {
        .sidebar & {
            margin-left: 0;
            width: 100%;

            .actions-secondary {
                display: block;
                padding: 10px 0;
            }
        }
    }

    .page-layout-1column .block.widget .products-grid .product-item {

    }

    .page-layout-3columns .block.widget .products-grid .product-item {

    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .block.widget .products-grid .product-item {

    }

    .page-layout-1column .block.widget .products-grid .product-item {

    }

    .page-layout-3columns .block.widget .products-grid .product-item {

    }

    .block.widget .products-grid .product-items {

    }

    .block.widget .products-grid .product-item {



    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .sidebar .block.widget .pager {
        .item:not(.pages-item-next):not(.pages-item-previous) {
            &:extend(.abs-no-display-desktop all);
        }

        .pages-item-next {
            padding: 0;

            .action {
                margin: 0;
            }
        }
    }
}
