<?php $categoyName = $this->getCategoryName(); ?>
<?php $products = $this->getCategoryProducts(); ?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php use Magento\Framework\App\Action\Action; ?>

<?php if($products->count()): ?>
	<ol class="products list items product-items">
        <?php foreach ($products as $_product): ?>
	        <li class="item product product-item">
	            <div class="product-item-info" data-container="product-grid">
	                <?php $productImage = $block->getImage($_product, 'category_page_list'); ?>
	                <a href="<?= $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
	                    <?= $productImage->toHtml() ?>
	                </a>
	                <div class="product details product-item-details">
	                    <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
	                    <strong class="product name product-item-name">
	                        <a class="product-item-link" href="<?= $_product->getProductUrl() ?>">
	                            <?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
	                        </a>
	                    </strong>						
	                    <div class="product-item-inner">
							<?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                            <div class="product actions product-item-actions">
								<div class="actions-primary">
		                            <?php if ($_product->isSaleable()): ?>
		                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
		                                <form data-role="tocart-form" data-product-sku="<?= $_product->getSku() ?>" action="<?= $postParams['action'] ?>" method="post">
		                                    <input type="hidden" name="product" value="<?= $postParams['data']['product'] ?>">
		                                    <input type="hidden" name="<?= Action::PARAM_NAME_URL_ENCODED ?>" value="<?= $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
		                                    <?= $block->getBlockHtml('formkey') ?>
		                                    <button type="submit" title="<?= $block->escapeHtml(__('Add to Cart')) ?>" class="action tocart primary">
		                                        <span><?= __('Add to Cart') ?></span>
		                                    </button>
		                                </form>
		                            <?php else: ?>
		                                <?php if ($_product->isAvailable()): ?>
		                                    <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
		                                <?php else: ?>
		                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
		                                <?php endif; ?>
		                            <?php endif; ?>
		                        </div>
                            </div>
                        </div>
	                </div>
	        	</div>
	        </li>
	    <?php endforeach; ?>
    </ol>
<?php else: ?>
	<?php echo __('There are no products found in selected category %1.', $categoyName); ?>
<?php endif; ?>