/*responsive*/
  @media (max-width: 320px) {
.item .b_date {
	top: 120px;
}
}
 @media (min-width:350px) and (max-width:370px) {
.item .b_date {
	top: 146px;
}
}
@media (min-width:410px) and (max-width:420px) {
.item .b_date {
	top: 182px;
}
}
 @media (min-width:992px) and (max-width:1200px) {
.home_course_sec {
	padding: 50px 0 50px;
}
.home_about_sec {
	padding: 60px 0 60px;
}
.video_sec .container-fluid {
	max-height: 350px;
	padding: 50px;
}
.team_sec {
	padding: 50px 0 50px;
}
.timetable_sec {
	padding: 50px 0 30px;
}
.blog_sec {
	padding: 30px 0 30px;
}
.home_course_sec .coueses-box {
	max-width: 290px;
	max-height: 190px;
}
/*.timetable_sec .project-box { height: 297px; }*/
.home_course_sec .coueses-box .text-content .text h4 {
	font-size: 15px;
}
.main-footer .footer-widget-area {
	padding: 70px 30px;
	padding-bottom: 40px;
}
.home_contact_sec .left {
	left: -204px;
	padding-left: 230px;
}
.timetable_sec .filter-tabs li {
	padding: 4px 15px;
	font-size: 14px;
}
.home_about_sec .ainfo_sec {
	padding-bottom: 0;
}
.player__video {
	max-width: 80%;
}
}
 @media only (min-width: 1133px) {
 .tp-banner {
 max-height: 750px !important;
 height: 750px !important;
}
 .top-servic-box .content h2 {
 line-height: 40px;
}
 .service_info h5 {
 font-size: 18px;
 color: #82b53f;
}
 .service_info p {
 font-size: 15px;
}
 .footer-widget.quick-links {
 padding-left: 60px;
}
 .home_course_sec .coueses-box {
 max-width: 290px;
 max-height: 190px;
}
 .team_sec .owl-nav {
 display: block;
}
}
/*responsive*/

 @media (min-width: 1280px) and (max-width: 1365px){
.home_about_sec .ainfo_sec {
    padding: 70px 30px;
}
}
 @media (min-width: 1024px) and (max-width: 1280px){
.quick-links {
	padding-left: 30px !important;
}
.latest-work {
	padding-left: 10px !important;
}
.address {
	padding-left: 0px !important;
}
.address_box1 p {
	font-size: 14px;
}
.address_box p {
	font-size: 14px;
}
.trainer_col {
	width: 30.24%;
}
.error_img {
	display: none;
}
.time_box {
	padding: 36px 10px 36px 20px;
}
.address-box p a {
	font-size: 14px;
}
.trainers_box p {
	font-size: 14px;
}
.trainers_box {
	padding: 15px 15px 15px 15px;
}
.content {
	width: 70%;
}
.inner-content h2 {
	font-size: 43px;
	font-weight: bold;
	text-transform: uppercase;
	top: 0;
}
.main-slider h3 {
	font-size: 30px !important;
}
.carousel-indicators .active {
	margin-bottom: 10px;
}
.carousel-indicators li {
	margin-bottom: 10px;
}
.ainfo_sec p {
	line-height: 26px;
	margin: 15px 0 0;
}
.home_about_sec .ainfo_sec {
    padding: 70px 30px;
}
.home_about_sec {
	padding: 60px 0 60px;
}
.home_course_sec {
	padding: 60px 0 60px;
}
.team_sec {
	padding: 60px 0 60px;
}
.video_sec .container-fluid {
    padding: 150px;
}
.timetable_sec .project-box .text-content h4 {
    font-size: 17px;
}
.blog_sec {
	padding: 40px 0 40px;
}
.b_date {
	position: absolute;
	margin-left: 20px;
}
.b_date span {
	top: 15%;
	left: 22%;
}
.home_contact_sec .site-contact-form input, .home_contact_sec .site-contact-form textarea {
	width: 80%;
}
.home_contact_sec .left {
    left: -330px;
}
}
@media (min-width: 1024px) and (max-width: 1279px){
.home_contact_sec .left {
    left: -180px;
}
.blog_sec a {
    color: black;
    font-size: 17px;
}
.blog_sec .card p {
    font-size: 14px;
}
.inner-content {
    height: 55vh;
}
.iner_info {
    top: 23vh;
}
.home_about_sec .ainfo_sec {
    padding: 10px 30px;
}
.home_course_sec .coueses-box {
    max-width: 293px;
}
.video_sec .container-fluid {
    padding: 80px;
	max-height: 400px;
}
.about_con {
    margin-top: 0px;
}
section.about_inner_page {
    padding-top: 60px;
    padding-bottom: 60px;
}
.client_name1 {
    margin-left: 33%;
    margin-right: 33%;
}
.inner_clients {
    margin-top: 50px;
    margin-bottom: 20px;
}
.timetable_sec .project-box .text-content h4 {
    font-size: 16px;
}
}
 @media (min-width: 768px) and (max-width: 1023px) {
.blog_title a {
    font-size: 22px;
}
.team_box .overlay .text p {
	font-size: 14px;
	line-height: 18px;
}
.team_box .overlay .text {
	top: 40%;
}
.text .team_icon .fa {
	margin: 0px 5px;
	font-size: 15px;
}
.main-footer .footer-widget-area {
	/*padding: 70px 70px;*/
	padding-bottom: 40px;
}
.home_course_sec .coueses-box {
	height: 242px;
}
.timetable_sec .project-box:nth-child(5), .timetable_sec .project-box:nth-child(6) {
    border-bottom: none;
    border-right: 1px solid #dcdee6;
}
.projects-container .right-line_hide {
	border-right: 1px solid #dcdee6;
}
.top-servic-box {
	margin-bottom: 30px;
}
#slider3 .owl-dots {
	margin-top: 0px;
}
.video_sec .container-fluid {
	padding: 30px;
}
/*.main-menu .navbar-header .navbar-toggle {
        display: block;
        z-index: 7;
        border: 1px solid #82b53f;
        margin: 10px 0;
    }*/
.main-menu .navbar-header .navbar-toggle .icon-bar {
	background: #82b53f;
}
.main-header .header-lower .right-cont .search-btn {
	right: 0;
}
.main-header .header-lower .right-cont .search-btn .fa {
	padding: 5px 0;
}
.main-menu .collapse {
	/*display: none !important;*/
	max-height: none;
	overflow: hidden;
	padding: 0px;
	/*margin: 10px 0px;*/
	width: 100%;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}
.main-menu .collapse.in, .main-menu .collapsing {
	display: block !important;
	max-height: none;
	overflow: hidden;
	padding: 0px;
	margin: 10px 0px;
	width: 100%;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}
.home_course_sec .coueses-box {
	max-width: 325px;
	max-height: 205px;
}
.main-footer .footer-widget-area {
	margin: 0 auto;
}
.address .info .fa {
	font-size: 15px;
}
.main-footer {
	font-size: 14px;
	line-height: 18px;
}
.main-footer .quick-links {
	padding-left: 50px;
}
.home_contact_sec .left {
    position: initial;
    padding-left: 0px;
    background-image: url(../images/cbg2.png);
    background-size: cover;
    left: -170px;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    top: -1px;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.home_contact_sec .container-fluid{
	padding-left:0px;
	padding-right:0px;
}
.home_contact_sec .left {
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.home_contact_sec .left:before{
	background:none;
}
.home_contact_sec .left form {
    margin-top: 50px;
    margin-left: 20px;
}
.home_contact_sec .primary-btn {
    margin-left: 15px;
}
.hmap {
    width: 100%;
}
.home_contact_sec .left h2 {	
    margin-left: 30px;
}
#contact {
	background-color: #121121;
}
.timetable_sec .filter-tabs li {
	padding: 2px 10px;
	font-size: 11px;
}
.navbar-header {
	float: right;
}
/*.navbar-right { width: 100%; }*/
.home_about_sec .ainfo_sec {
	padding-bottom: 0;
}
.team_sec .owl-nav {
	display: none;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
/* search*/
.overlay-content {
	width: 80%;
}
.overlay input[type=text] {
	width: 80%;
}
.overlay button {
	padding: 15px;
	font-size: 20px;
	padding-top: 30px;
	padding-left: 20px;
}
.player__video {
	max-width: 80%;
}
/* search*/
.main-footer .footer-widget-area .footer-widget {
	padding-left: 15px !important;
}
.home_contact_sec {
	max-height: none;
}
#site-map {
	max-height: 330px;
}
.b_date {
	top: 150px;
}
/*blog*/
.articles_blog .art_info p {
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
}
.articles_blog .art_info h4 {
    font-size: 16px;
}
.text h4 {
    font-size: 18px;
}
.team_sec .carousel .text-content .text h5 {
    margin-bottom: 20px;
}
.articles_blog .art_img {
	padding: 2px 0;
}
.pagination {
	margin-left: 10%;
	margin-bottom: 20px;
}
.timetable_sec {
	padding: 40px 0 20px;
}
.home_about_sec {
	padding: 40px 0 40px;
}
.home_course_sec {
	padding: 40px 0 40px;
}
.team_sec {
	padding: 40px 0 40px;
}
.blog_sec {
	padding: 40px 0 40px;
}
.error_img {
	display: none;
}
.trainer_col {
	width: 45.83%;
	float: left;
}
section.timetable_sec.inner_page {
	padding-top: 0px;
	padding-bottom: 50px;
}
.call_to_action_con h1 {
	text-align: center;
}
.call_to_action_con p {
	text-align: center;
}
.call_to_action_btn {
	float: none;
	text-align: center;
}
.address-box {
	width: 50%;
	overflow: hidden;
	float: left;
}
.time_box_con {
	width: 50%;
	float: left;
}
.time_box {
	overflow: hidden;
}
.trainers_box {
	min-height: 160px;
}
.contace_title h3 {
	margin-bottom: 30px;
	margin-top: 30px;
}
.inner_contact {
	margin-top: 20px;
	margin-bottom: 50px;
}
.navbar-right {
	margin-right: 0px;
}
.content {
	width: 80%;
}
.clock {
	width: 125px;
	height: 125px;
}
.num {
	margin-top: 30px;
}
.portfolioFilter a {
	padding: 4px 12px;
}
#filter_box a {
	font-size: 14px;
}
#filter_box {
	width: auto;
}
.about_con {
	margin-top: 0px;
}
.about_img {
	display: none;
}
.read_more {
	margin-top: 30px;
	margin-bottom: 30px;
}
.client_name1 {
	margin-left: 33%;
	margin-right: 33%;
}
.inner_clients {
	margin-top: 50px;
	margin-bottom: 20px;
}
.team_sec .carousel .text-content {
	bottom: -34px;
	left: -17px;
	transform: rotate(358deg) skew(20deg);
}
section.about_inner_page {
	padding-top: 50px;
}
.inner-content h2 {
	font-size: 40px;
}
.main-slider h3 {
	font-size: 30px !important;
}
.timetable_sec .project-box .text-content h4 {
    font-size: 13px;
}
.timetable_sec .project-box .text-content p {
    font-size: 14px;
}
.articles_blog .articles:nth-child(odd){
	background:none;
}
.timetable_sec .project-box .text-content {
    margin: 20px 0px;
    padding: 0 0px;
}
}
 @media (min-width: 481px) and (max-width: 767px) {
.portfolioFilter a {
    padding: 4px 10px;
}
.ainfo_sec p {
	text-align: justify;
}
#slider3 .owl-dots {
	margin-top: 0px;
}
.top-servic-box .content {
	margin: 20px auto;
	padding: 20PX 10PX 0;
}
.service .ser2 .content {
	margin: 0;
	padding: 20PX 10PX 0;
}
.service .ser2 {
	margin-top: 10px;
}
.service_info {
	margin-bottom: 0;
}
.service_info img {
	width: 70%;
}
.top-servic-box .content h4 {
	margin: 15px 0px 25px;
}
.top-servic-box .content h3 {
	margin: 15px 0px 15px;
}
.service_info p {
	font-size: 12px;
	line-height: 15px;
}
.top-servic-box .content h2, .top-servic-box .content h3 {
	font-size: 18px;
}
.content .view_more {
	margin-bottom: 20px;
}
.borderbtm {
	margin-bottom: 0;
}
.header-top .container .top-left {
	float: none !important;
	text-align: center;
}
.header-top .container .email.pull-left {
	float: right !important;
	margin-right: 0;
}
.header-top .container .phone.pull-left {
	margin-right: 0;
}
.header-top .container .top-right {
	display: none;
}
.social_nav .social .fa {
	margin-right: 20px;
	margin-top: 5px;
	font-family: FontAwesome;
	display: inline-block;
}
.team_sec .carousel .text-content {
	left: -15px;
	padding: 20px 16px 20px 24px;
}
.team_sec .carousel .text-content .text h4 {
	padding-bottom: 4px;
	font-size: 15px;
}
.team_sec .carousel .text-content .text h5 {
	font-size: 12px;
}
.team_box .overlay .text {
	font-size: 10px;
	top: 40%;
}
.team_box .overlay .text p {
	line-height: 20px;
}
.carousel .team_box {
	padding-right: 0;
}
.team_icon .fa {
	margin: 0 5px;
	font-size: 15px;
}
.b_date {
	top: 156px;
}
/*blog*/
.articles_blog .art_img {
	padding: 5px 0;
}
.upload_info span {
	padding-right: 15px;
}
.pagination a {
	padding: 4px 12px;
}
.pagination {
	margin: 40px auto 10px;
}
.articles_blog .art_img {
	padding: 15px 0;
}
.error h1 {
	font-size: 170px;
}
.error h3 {
	font-size: 17px;
}
.error_img {
	display: none;
}
.search-btn {
	display: none !important;
}
.trainer_col {
	width: auto;
}
.breadcrumb_sec {
	height: 390px;
}
.blog_txt h1 {
	font-size: 55px;
}
.call_to_action_con h1 {
	font-size: 25px;
	text-align: center;
}
.call_to_action_con p {
	text-align: center;
}
.call_to_action_btn {
	float: none;
	text-align: center;
}
section.timetable_sec.inner_page {
	padding-top: 0px;
	padding-bottom: 50px;
}
.time_box {
	overflow: hidden;
	padding: 36px 10px 36px 20px;
}
.trainers_box {
	min-height: 160px;
	padding: 15px 10px 15px 10px;
}
.contace_title h3 {
	margin-bottom: 30px;
	margin-top: 30px;
}
.inner_contact {
	margin-top: 20px;
	margin-bottom: 50px;
}
.clock {
	margin-bottom: 30px;
}
.content {
	width: 100%;
}
.comeing_con h1 {
	font-size: 45px;
	margin-top: 0px;
}
.subscribe_box {
	margin-top: 0px;
	width: 90%;
}
.clock {
	width: 115px;
	height: 115px;
	margin: auto;
	margin-bottom: 20px;
}
.num {
	margin-top: 25px;
	margin-bottom: 10px;
}
.bottom-pane .text {
	margin-bottom: 20px;
	font-size: 19px;
}
.latest-work {
	padding-left: 0px !important;
}
.quick-links {
	padding-left: 0px !important;
}
.quick-links {
	padding-left: 0px !important;
}
section.about_inner_page {
	padding-top: 0px;
}
.about_con {
	margin-top: 60px;
}
.read_more {
	margin-top: 30px;
	margin-bottom: 30px;
}
.home_course_sec .coueses-box .text-content .text {
    top: 0;
    transform: skewX(-31deg);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 13px;
}
.client_name1 {
	margin-left: 32%;
	margin-right: 32%;
	margin-top: 30px;
}
.main-menu .nav li {
	padding: 0 0px 0px 0px;
}
.inner-content h2 {
	font-size: 29px;
}
.main-slider h3 {
	font-size: 24px !important;
}
.carousel-indicators {
	display: none;
}
.iner_info {
	margin-left: 20px;
}
.home_about_sec {
	padding: 40px 0 0px;
}
.home_course_sec {
	padding: 40px 0 40px;
}
.home_course_sec .coueses-box {
    margin: 22px 10px;
    padding: 0;
    max-width: 348px;
    margin-bottom: 20px;
}
.video_sec .container-fluid {
	max-height: 680px;
	text-align: center;
	z-index: 100;
	padding: 40px;
}
.video_sec .container-fluid .row h2 {
	font-size: 22px;
}
.team_sec {
	padding: 40px 0 40px;
}
.timetable_sec .project-box .text-content h4 {
	font-size: 15px;
}
.timetable_sec .filter-tabs li {
    padding: 8px 5px;
}
.blog_sec {
	padding: 20px 0 30px;
}
.home_contact_sec .left {
    padding: 0px 0px;
    left: 0px;
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 79px;
    padding-bottom: 23px;
    width: 50%;
}
.top-servic-box figure img {
    height: 270px;
}
.articles_blog .articles:nth-child(odd) {
    background: none;
}
.articles_blog .art_info h4 {
    font-weight: 600;
    color: #373735;
    font-size: 19px;
    line-height: 25px;
    margin-top: 14px;
}
#filter-tabs{
	display:none;
}
.timetable_sec select.select_day {
    display: block;
    border: none;
    width: 200px;
}
.timetable_sec {
    padding: 10px 0 40px;
}
.timetable_sec .project-box:nth-child(even) {
    border-right: none;
}
.timetable_sec .project-box:nth-child(5), .timetable_sec .project-box:nth-child(6) {
    border-bottom: 1px solid #dcdee6;
}
}
 @media (min-width: 320px) and (max-width: 480px) {
.breadcrumb_sec:before {
    height: 390px;
}
#slider5 .owl-nav {
    display: none;
}
.filter-list {
    padding-left: 25px;
    padding-right: 25px;
}
.ainfo_sec p {
	text-align: justify;
}
#slider3 .owl-dots {
	margin-top: 0px;
}
.top-servic-box .content {
	margin: 20px auto;
	padding: 20PX 10PX 0;
}
.text h4 {
    font-size: 16px;
}
.service .ser2 .content {
	margin: 0;
	padding: 20PX 10PX 0;
}
.service .ser2 {
	margin-top: 10px;
}
.service_info {
	margin-bottom: 0;
}
.service_info img {
	width: 70%;
}
.top-servic-box .content h4 {
	margin: 15px 0px 25px;
}
.top-servic-box .content h3 {
	margin: 15px 0px 15px;
}
.service_info p {
	font-size: 12px;
	line-height: 15px;
}
.top-servic-box .content h2, .top-servic-box .content h3 {
	font-size: 18px;
}
.content .view_more {
	margin-bottom: 20px;
}
.borderbtm {
	margin-bottom: 0;
}
.header-top .container .top-left {
	float: none !important;
	text-align: center;
}
.header-top .container .email.pull-left {
	float: right !important;
	margin-right: 0;
}
.header-top .container .phone.pull-left {
	margin-right: 0;
}
.header-top .container .top-right {
	display: none;
}
.social_nav .social .fa {
	margin-right: 20px;
	margin-top: 5px;
	font-family: FontAwesome;
	display: inline-block;
}
.team_sec .carousel .text-content {
	left: -15px;
	padding: 20px 16px 20px 24px;
}
.team_sec .carousel .text-content .text h4 {
	padding-bottom: 4px;
	font-size: 15px;
}
.team_sec .carousel .text-content .text h5 {
	font-size: 12px;
}
.team_box .overlay .text {
	font-size: 10px;
	top: 40%;
}
.team_box .overlay .text p {
	line-height: 20px;
}
.carousel .team_box {
	padding-right: 0;
}
.team_icon .fa {
	margin: 0 5px;
	font-size: 15px;
}
.b_date {
	top: 156px;
}
/*blog*/
.articles_blog .art_img {
	padding: 5px 0;
}
.upload_info span {
	padding-right: 15px;
}
.pagination a {
	padding: 4px 12px;
}
.pagination {
	margin: 40px auto 10px;
}
.articles_blog .art_img {
	padding: 15px 0;
}
.error h1 {
	font-size: 170px;
}
.error h3 {
	font-size: 17px;
}
.error_img {
	display: none;
}
.search-btn {
	display: none !important;
}
.trainer_col {
	width: auto;
}
.breadcrumb_sec {
	height: 390px;
}
.blog_txt h1 {
    font-size: 45px;
}
.call_to_action_con h1 {
	font-size: 25px;
	text-align: center;
}
.call_to_action_con p {
	text-align: center;
}
.call_to_action_btn {
	float: none;
	text-align: center;
}
section.timetable_sec.inner_page {
	padding-top: 0px;
	padding-bottom: 50px;
}
.time_box {
	overflow: hidden;
	padding: 36px 10px 36px 20px;
}
.trainers_box {
	min-height: 160px;
	padding: 15px 10px 15px 10px;
}
.contace_title h3 {
	margin-bottom: 30px;
	margin-top: 30px;
}
.inner_contact {
	margin-top: 20px;
	margin-bottom: 50px;
}
.clock {
	margin-bottom: 30px;
}
.content {
	width: 100%;
}
.comeing_con h1 {
	font-size: 45px;
	margin-top: 0px;
}
.subscribe_box {
	margin-top: 0px;
	width: 90%;
}
.clock {
	width: 115px;
	height: 115px;
	margin: auto;
	margin-bottom: 20px;
}
.num {
	margin-top: 25px;
	margin-bottom: 10px;
}
.bottom-pane .text {
	margin-bottom: 20px;
	font-size: 19px;
}
.portfolioFilter {
	display: none;
}
.latest-work {
	padding-left: 0px !important;
}
.quick-links {
	padding-left: 0px !important;
}
.quick-links {
	padding-left: 0px !important;
}
section.about_inner_page {
	padding-top: 0px;
}
.about_con {
	margin-top: 60px;
}
.read_more {
	margin-top: 30px;
	margin-bottom: 30px;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #7aa83e;
	font-size: 40px;
	margin: -10px !important;
	padding: 0px -3px;
	background: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}
.client_name1 {
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 30px;
}
.main-menu .nav li {
	padding: 0 0px 0px 0px;
}
.inner-content h2 {
	font-size: 29px;
}
.main-slider h3 {
	font-size: 24px !important;
}
.carousel-indicators {
	display: none;
}
.iner_info {
	margin-left: 20px;
}
.home_about_sec {
	padding: 40px 0 0px;
}
.home_course_sec {
	padding: 40px 0 40px;
}
.home_course_sec .coueses-box {
	margin: 0px 0px;
	padding: 0;
	max-width: none;
	margin-bottom: 20px;
}
.video_sec .container-fluid {
	max-height: 680px;
	text-align: center;
	z-index: 100;
	padding: 40px;
}
.video_sec .container-fluid .row h2 {
	font-size: 22px;
}
.team_sec {
	padding: 40px 0 40px;
}
.timetable_sec .project-box .text-content h4 {
	font-size: 14px;
}
.timetable_sec .filter-tabs {
    width: 220px;
    display: block;
    border: none;
}
.timetable_sec {
    padding: 0px 0 40px;
}
.timetable_sec .project-box:nth-child(even) {
    border-right: none;
}
.timetable_sec .project-box:nth-child(5), .timetable_sec .project-box:nth-child(6) {
    border-bottom: 1px solid #dcdee6;
}
.timetable_sec .project-box .text-content p {
    font-size: 14px;
}
.blog_sec {
	padding: 20px 0 30px;
}
.home_contact_sec .left {
	padding: 0px 0px;
	left: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 80px;
	padding-bottom: 23px;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#filter-tabs li {
    display: inline;
    margin: 5px;
    line-height: 40px;
}
#filter-tabs {
    width: auto;
	border-radius: 5px;
    margin: 30px;
	display:none;
}
.timetable_sec .filter-tabs li {
    position: relative;
    float: left;
    padding: 0px 0px;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    transition: all ease 0.5s 0s;
}
section.timetable_sec.inner_page {
    margin-top: 50px;
}
.c-post .c-post-comments .comment-author img {
    margin-right: 20px;
}
.comment-text p{
	float:left;
}
ol.children{
	padding:0;
	margin:0;
}
.post-comments{
	display:none;
}
.articles_blog .articles:nth-child(odd) {
    background: none;
}
.articles_blog .art_info h4 {
    font-weight: 600;
    color: #373735;
    font-size: 19px;
    line-height: 25px;
    margin-top: 14px;
}
}
