/* ----------------------------------------------------------------------------------------
Template: Netbizz - Corporate Template
 -----------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header
3. Carousel_section
4. Services_section
5. about_section
6. Video_section
7. Team_section
8. Timetabel_section
9. gallery
10. Blog_section
11. Contact_section
12. Footer
13. vertical bootstrap slider
14. scroll_to_top
15. Inner_page_banner
16. Blog_page
17. 404 Page
18. About_page
19. Shedule_page
20. Classes_page
21. Contact_page
22. Comeing Soon
23. Trainers_inner_page
24. Call_to_action
-------------------------------------------------------------------*/
.gm-style .place-card-large {
    padding: 9px 4px 9px 11px;
    display: none !important;
}
h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	margin: 0;
	background: none;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav>li>a:focus, .nav>li>a:hover{
	background:none;
}
p {
	position: relative;
	line-height: 30px;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #000000;
	line-height: 1.6em;
	font-weight: 400;
	background: #fff;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #ffffff;
}
textarea {
	resize: none;
}
textarea:focus, input:focus, select:focus, a:focus, button:focus {
	outline: none !important;
	box-shadow: none !important;
}
.no-padding {
	padding: 0;
}
.green_text {
	color: #82b53f;
}
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../images/loading.svg);
}
.hidden {
	display: none;
}
.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
	min-height: 400px;
	overflow: hidden;
}
.auto-container {
	position: static;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.primary-btn {
	position: relative;
	left: 0;
	display: inline-block;
	overflow: hidden;
	background: #82b53f;
	color: #ffffff !important;
	padding: 11px 40px;
	text-transform: uppercase;
	border: none;
	box-shadow: 3px 4px 15px 0px rgba(168, 168, 168, 0.75); 
}
.primary-btn:hover .btn-text {
	opacity: 1;
	color: #ffffff;
}
.primary-btn:hover, .primary-btn:focus, .primary-btn:active {
	background-color:#72a82c;
	transition: all ease 0.5s 0s;
}

/* 
---------------------------------------------
Header
--------------------------------------------- 
*/
.social_nav .social .fa {
	display: none;
}
.main-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	z-index: 999;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
.main-header .header-top {
	position: relative;
	background: rgba(130, 181, 63, 0.82);
	padding: 10px 0;
	border-bottom: 1px solid #ffffff;
}
.page-wrapper .header-fixed .header-lower {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 555;
}
.main-header .header-lower {
	position: relative;
	background: rgba(9, 9, 9, 0.90);
	min-height: 80px;
	padding: 15px 0;
}
.header-lower .logo .logo_name, .main-footer .logo_name {
	margin: 8px auto;
	color: #82b53f;
	font-weight: 800;
}
.header-lower .logo .logo_name .white_text, .main-footer .logo_name .white_text {
	color: #ffffff;
}
.main-header .header-top .top-left .phone, .main-header .header-top .top-left .email {
	margin-right: 20px;
	line-height: 26px;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
.top-right .social .fa {
	margin-left: 20px;
	margin-top: 5px;
}
.main-menu .nav li {
	padding: 0 0px 0px 30px;
}
.main-menu .nav li a {
	padding: 15px 0;
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 1;
	z-index: 2;
	transition: all 500ms ease;
	font-family: 'Roboto', sans-serif;
	border-bottom: 2px solid transparent;
}
.main-menu .nav li a:hover, .main-menu .nav li.current a {
	color: #82b53f;
	border-bottom: 2px solid #82b53f;
	background-color: transparent;
}
.header-top a:hover, .header-top a:active {
	color: rgba(9, 9, 9, 0.98);
	font-weight: 500;
}
.main-header .header-lower .right-cont .search-btn:focus, .main-header .header-lower .right-cont .search-btn:active, .main-header .header-lower .right-cont .search-btn:hover, .main-header .header-lower .right-cont .search-btn:visited, .main-header .header-lower .right-cont .search-btn:focus-within {
 background-color: transparent;
 background: transparent;
}
.main-header .search-box .search-form {
	position: relative;
	float: right;
	max-width: 300px;
	overflow: hidden;
	background: rgba(9, 9, 9, 0.98);
}
.main-header .search-box {
	position: absolute;
	padding: 15px 0;
	background: rgba(9, 9, 9, 0);
	color: #ffffff;
	display: none;
	max-width: 300px;
	right: 10px;
}
.main-header .search-box .form-group {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}
.main-header .search-box .form-group input[type="search"], .main-header .search-box .form-group input[type="text"] {
	position: relative;
	display: block;
	width: 100%;
	padding: 6px 40px 4px 15px;
	border: 2px solid #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	background: none;
}
.main-header .search-box .form-group .search-submit {
	position: absolute;
	right: 1px;
	top: 0;
	width: 44px;
	height: 35px;
	background: #82b53f;
	display: block;
	padding: 5px 10px 5px 10px;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
}
.main-header .search-box .form-group .search-submit .fa {
	display: inline-block;
	position: relative;
	margin-left: 0;
}
.openBtn {
	background: #f1f1f1;
	border: none;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
}
.openBtn:hover {
	background: #bbb;
}
#myOverlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
}
#myOverlay.animated {
	animation-duration: 300ms;
}
.overlay-content {
	position: relative;
	top: 46%;
	width: 45%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}
#myOverlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
}
#myOverlay .closebtn:hover {
	color: #ccc;
}
#myOverlay input[type=text] {
	float: left;
	width: 80%;
	background: transparent;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	border-left: none;
	font-size: 30px;
	font-weight: 100;
	padding: 20px 38px 20px 2px;
	text-transform: capitalize;
	background: transparent;
	line-height: 40px;
	color: #fff;
}
#myOverlay button {
	float: left;
	padding: 15px;
	background: transparent;
	font-size: 30px;
	border: none;
	cursor: pointer;
	color: #ffffff;
	padding-top: 35px;
	padding-left: 20px;
}

/* 
---------------------------------------------
Carousel_section
--------------------------------------------- 
*/

.main-slider {
	position: relative;
	z-index: 5;
}
.main-slider .tp-bannertimer {
	height: 4px;
	background: rgba(255,193,59,0.75);
}
.main-slider h2 {
	position: relative;
	font-size: 72px;
	font-weight: 800;
	line-height: 1em;
	color: #ffffff;
	top: 80px;
}
.main-slider h3 {
	position: relative;
	font-size: 40px !important;
	line-height: 1.8em;
	color: #ffffff;
}
.txt-white {
	color: #ffffff;
}
.tp-caption .text-right {
	color: #202E31;
}
.carousel-indicators li.first:after {
	content: '01';
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	opacity: 0.7;
	font-style: italic;
}
.carousel-indicators li.last:after {
	content: '03';
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	opacity: 0.7;
	font-style: italic;
}
.carousel-indicators li:after {
	content: '02';
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	opacity: 0.7;
	font-style: italic;
}
.carousel-indicators li.active:after {
	opacity: 1;
	font-size: 25px;
}
.carousel-indicators li {
	display: block;
	background-color: transparent;
	border: none;
	text-indent: 0;
	margin-right: 50px !important;
	height: 30px;
	width: 30px;
	margin-bottom: 30px;
}
.carousel-indicators .active {
	width: 30px;
	height: 30px;
	background-color: #fff;
	margin-bottom: 30px;
	background-color: transparent;
}
.carousel-indicators li span {
	display: none;
}
.carousel-indicators .active span {
	display: block;
	display: flex;
	width: 45px;
	height: 2px;
	opacity: 1;
	margin: 0px 0 0 -14px;
	background: #82b53f;
	position: absolute;
	right: 0;
	margin-top: 10px;
}
.main-slider .carousel {
	overflow: inherit;
}
.main-slider .carousel-control {
	border: none;
}
.main-slider .carousel-control .fa {
	color: #ffffff;
}
.slider_readmore span {
	border-bottom: 2px solid #82b53f;
	font-style: italic;
}

/* 
---------------------------------------------
Services_section
--------------------------------------------- 
*/
.site-top-services .site-top-service-main {
	float: left;
	width: 100%;
	margin-top: -100px;
	position: relative;
	z-index: 6;
}
.top-servic-box {
	float: left;
	width: 100%;
	background: #000000;
	box-shadow: 0 0 20px 0px #141313ad;
}
.top-servic-box:hover {
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}
.top-servic-box figure {
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
}
.top-servic-box .content {
	float: left;
	width: 100%;
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	bottom: auto;
	display: block;
	width: 100%;
	height: auto;
	transform: translateY(-50%);
	padding: 60PX 45PX 0;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
.top-servic-box figure img {
	float: left;
	width: 100%;
	opacity: 0.3;
}
.borderbtm {
	border-bottom: 4px solid #82b53f;
	max-height: 5px;
	max-width: 105px;
	width: 105px;
	margin-top: 6px;
	margin-bottom: 25px;
}
.top-servic-box .content h2, .top-servic-box .content h3 {
	font-weight: 800;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}
.top-servic-box .content h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 15px 0px 40px;
	text-align: left;
}
.top-servic-box .content h3 {
	margin: 20px 0px 20px;
}
.service_info img {
	width: 80%;
}
.service_info {
	margin-bottom: 30px;
}
.content .view_more {
	float: right;
	text-decoration: underline;
	color: #82b53f;
	font-size: 15px;
	margin: 30px auto;
}
.content .view_more:hover {
	-webkit-transform: scale(1.05);
	text-shadow: 1px 6px 11px #3b5f0c;
}
.content h5 {
	text-align: left;
	color:#82b53f;
}
.content p {
	text-align: left;
}

/* 
---------------------------------------------
about_section
--------------------------------------------- 
*/
.home_about_sec {
	position: relative;
	padding: 80px 0 80px;
	background: #ffffff;
}
.home_about_sec .aimg_sec img {
	width: 100%;
}
.home_about_sec .ainfo_sec {
	padding: 50px 30px;
}
.title {
	text-transform: uppercase;
	font-weight: 800;
	color: #000000;
	padding-bottom: 10px;
}
.home_about_sec .ainfo_sec .title .green_text {
	color: #82b53f;
}
span.light_text {
    font-weight: 500;
}
h2.title b {
    font-weight: 800;
}
.ainfo_sec p {
	line-height: 30px;
	margin: 20px 0 0;
}
.ainfo_sec .primary-btn {
	margin-top: 30px;
	transition: all ease 0.5s 0s;
}

.home_course_sec {
	position: relative;
	padding: 80px 0 80px;
	background: #f3f3f3;
}
.home_course_sec .title {
	text-align: center;
	margin-bottom: 18px;
}
.home_course_sec .coueses-box {
	position: relative;
	float: left;
	overflow: hidden;
	padding-left: 0;
	max-height: 240px;
	margin: 22px 10px;
	box-shadow: 0 0 15px #b0a9a9;
	padding: 0;
	max-width: 360px;
}
.inner_classes .coueses-box{
	margin: 22px 15px;
}
.home_course_sec .coueses-box .image {
	position: relative;
	width: 100%;
	z-index: 2;
}
.home_course_sec .coueses-box .image img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	max-height: 242px;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.home_course_sec .coueses-box:hover .text-content.hvr-bounce-to-bottom .text h4 {
 color: #ffffff;
}
.home_course_sec .coueses-box:hover .text-content {
	background: #82b53f;
	color: #ffffff;
}
.home_course_sec .coueses-box .text-content {
	position: absolute;
	left: 0;
	bottom: -20%;
	width: 100.5%;
	height: 42%;
	z-index: 5;
	border-top: 4px solid #82b53f;
	background: #ffffff;
	text-align: right;
	padding: 0 30px;
	transform: skewY(-19deg);
	-webkit-transform: skewY(-19deg);
	-ms-transform: skewY(-19deg);
	-o-transform: skewY(-19deg);
	-moz-transform: skewY(-19deg);
}
.home_course_sec .coueses-box .text-content {
    bottom: -11px;
    left: -24px;
    padding: 22px 40px 22px 64px;
    height: auto;
    width: 100%;
    text-align: left;
    background: rgba(255,255,255,0.85);
    transform: rotate(358deg) skewX(29deg);
}
.hvr-bounce-to-bottom {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #82b53f;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.home_course_sec .coueses-box .text-content .text {
    top: 0;
    transform: rotate(362deg) skewX(-28deg);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}
.coueses-box:hover .hvr-bounce-to-bottom{
	box-shadow: 0 0 15px #171616;
}
.coueses-box:hover .text-content {
    border-top: 4px solid #ffffff;
    color: #ffffff;
}
/*home_course section*/

/* 
---------------------------------------------
Video_section
--------------------------------------------- 
*/
.video_sec .container-fluid {
	max-height: 680px;
	padding: 160px;
	text-align: center;
	z-index: 100;
}
.video_sec .container-fluid .row h2 {
	text-transform: uppercase;
	font-weight: 800;
	color: #ffffff;
	padding-top: 35px;
}
.video_sec .container-fluid .row .green_text {
	color: #82b53f;
}
.video_sec {
	background: url(../images/video_sec.png) no-repeat fixed center;
	background-size: cover;
}
.video_sec img:hover {
	background-image: url(../../../../../../../www.netizensstore.com/gymfit_theme/html/html/multipage_3/assets/images/playbg.html);
}
.player {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%, rgba(0,0,0,1) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%, rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%, rgba(0,0,0,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%, rgba(0,0,0,1) 100%);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.player__video {
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	max-width: 50%;
	background-color: #fff;
	box-shadow: 0 0 50px rgba(0,0,0,.95);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.js--show-video {
	opacity: 1;
}
.video-filler {
	display: block;
	width: 100%;
}
.video-close {
	position: absolute;
	z-index: 0;
	top: 0;
	right: -30px;
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 0 50% 50% 0;
	cursor: pointer;
	font-size: 24px;
	color: #82b53f;
	background-color: #ffffff;
	box-shadow: 0 0 20px rgba(0,0,0,.75);
}
.video-iframe {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 
---------------------------------------------
Team_section
--------------------------------------------- 
*/
.team_sec {
	position: relative;
	padding: 80px 0 80px;
	background: #f3f3f3;
}
.team_sec .owl-carousel .owl-item {
	overflow: hidden;
}
.team_sec .carousel-inner {
	margin: auto 9px;
}
.team_sec .title {
	text-align: center;
	margin-bottom: 25px;
}
.team_sec .carousel .text-content {
	bottom: -14px;
	left: -23px;
	padding: 30px 40px 30px 64px;
	height: auto;
	width: 100%;
	text-align: left;
	background: rgba(255,255,255,0.85);
	border-top: 4px solid #82b53f;
	position: absolute;
	transform: rotate(357deg) skew(20deg);
}
.text-content.hvr-bounce-to-bottom:hover {
	border-top: 4px solid #ffffff;
	color: #ffffff;
}
.team_sec .carousel .text-content .text {
	top: 0;
	transform: rotate(-357deg) skew(-20deg);
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
}
.team_sec .carousel .text-content .text h4 {
	font-weight: 800;
	padding-bottom: 10px;
	margin-bottom:0px;
}
.team_sec .carousel .text-content .text h5 {
	color: #82b53f;
	font-weight: 500;
	margin-bottom:10px;
}
.carousel {
	margin-top: 0px;
}
.carousel .team_box {
	overflow: hidden;
	padding-left: 0;
	padding-right: 0px;
	max-height: 506PX;
}
.team_box .overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #000000;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	opacity: 0.88;
}
.team_box:hover .overlay {
	bottom: 0;
	height: 100%;
	width: 100%;
}
.team_box:hover .text-content {
	border-top: 4px solid #ffffff;
	color: #ffffff;
	background: #82b53f;
}
.team_sec .team_box:hover .text-content h4, .team_sec .team_box:hover .text-content h5 {
	color: #ffffff;
}
.team_sec .carousel .team_box .text-content:hover .text h5, .team_sec .carousel .team_box .text-content:hover .text h4 {
	color: #ffffff;
}
.team_sec img {
	box-shadow: 0 0 15px #b0a9a9;
}
.team_sec .carousel-indicators {
	bottom: -70px;
}
.team_sec .carousel-indicators li {
	background-color: #afafaf;
	border: none;
}
.team_sec .carousel-indicators li.active {
	background-color: #82b53f;
	border: none;
}
.team_box .overlay .text {
	color: white;
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 30%;
	-webkit-transform: translate(-20%, -50%);
	-ms-transform: translate(-20%, -50%);
	transform: translate(-20%, -50%);
	text-align: center;
}
.team_icon .fa {
	margin: 10px 15px;
	font-size: 20px;
}
.carousel-control {
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	width: 50px;
	font-size: 42px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	background-color: rgba(0,0,0,0);
	filter: alpha(opacity=50);
	opacity: .5;
	border: 1px solid #000000;
	height: 50px;
}
.carousel-control .fa {
	color: #000000;
	text-shadow: none;
}
.main-slider .carousel-control.right {
	right: 49px;
	left: auto;
	top: 76%;
}
.main-slider .carousel-control.left {
	right: 50px;
	left: auto;
	top: 38%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	margin-left: -15px;
	margin-top: -15px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	margin-right: -15px;
	margin-top: -15px;
}
.carousel-item .img-fluid {
	max-width: 360px;
}
.carousel-inner .item.right, .carousel-inner .item.left {
	transform: translateX(0);
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
#slider1 i.fa.fa-angle-left {
	height: 44px;
	width: 44px;
	border: 1px solid #000;
	font-weight: normal;
	font-size: 36px;
	line-height: 39px;
	color: #000;
	background-color: #fff;
	transition: all ease 0.5s 0s;
}
#slider1 i.fa.fa-angle-left:hover {
	background-color: #7aa83e;
	border: 1px solid #7aa83e;
	transition: all ease 0.5s 0s;
	color: #fff;
}
#slider1 i.fa.fa-angle-right:hover {
	background-color: #7aa83e;
	border: 1px solid #7aa83e;
	transition: all ease 0.5s 0s;
	color: #fff;
}
#slider1 i.fa.fa-angle-right {
	height: 44px;
	width: 44px;
	border: 1px solid #000;
	font-weight: normal;
	font-size: 36px;
	line-height: 39px;
	color: #000;
	background-color: #fff;
	transition: all ease 0.5s 0s;
}
.team_sec .item {
	overflow: hidden;
}
.owl-theme .owl-nav {
	display: none;
}


/* 
---------------------------------------------
Timetabel_section
--------------------------------------------- 
*/
.select_day {
	display: none;
}
.day_tabs {
	display: block;
}
.timetable_sec select {
	background-color: white;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.timetable_sec {
	position: relative;
	padding: 80px 0 70px;
	background: #ffffff;
}
.timetable_sec .title {
    text-align: center;
    margin-bottom: 30px;
}
.timetable_sec .filter-tabs {
	position: relative;
	margin-bottom: 50px;
	border-radius: 20px;
	background: #f3f3f3;
	width: max-content;
	margin: 50px auto;
}
.timetable_sec .filter-tabs li:hover, .timetable_sec .filter-tabs li.active {
	color: #ffffff;
	transition: all ease 0.5s 0s;
}
.timetable_sec .filter-tabs li {
	position: relative;
	float: left;
	padding: 8px 24px;
	font-size: 15px;
	text-transform: uppercase;
	color: #000000;
	cursor: pointer;
	font-weight: 500;
	transition: all ease 0.5s 0s;
}
.timetable_sec .filter-tabs li:hover:before, .timetable_sec .filter-tabs li.active:before {
	background: #82b53f;
	color: #ffffff;
	border-color: #ffffff;
	border-radius: 20px;
	transition: all ease 0.5s 0s;
}
.timetable_sec .filter-tabs li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #f1f1f1;
	background: #f3f3f3;
	z-index: 0;
	border-radius: 20px;
	transition: all ease 0.5s 0s;
}
.timetable_sec .filter-tabs li .btn-txt {
	position: relative;
	z-index: 1;
}
.timetable_sec .project-box {
	position: inherit;
	float: left;
	display: block;
	overflow: hidden;
	transition: all 0.7s ease;
	text-align: center;
	visibility: visible;
	border-right: 1px solid #dcdee6;
	border-bottom: 1px solid #dcdee6;
}
.projects-container .bottomrow {
	border-bottom: none;
}
.projects-container .right-line_hide {
	border-right: none;
}
.timetable_sec .project-box .text-content {
	margin: 20px 10px;
	padding: 0 10px;
	visibility: hidden;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*.hvr-rectangle-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(130, 181, 63, 0.30);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border: 1px solid #82b53f;
}*/
.hvr-rectangle-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.timetable_sec .project-box .text-content img {
	width: 60px;
	margin-bottom: 10px;
	margin:auto;
}
.timetable_sec .project-box .text-content .time {
	padding: 5px 12px;
	background: #373735;
	color: #ffffff;
	border-radius: 20px;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	padding-top: 7px;
}
.timetable_sec .project-box .text-content h4 {
	text-transform: uppercase;
	margin-top: 10px;
	color: #040404;
	font-weight: 600;
}
.timetable_sec .project-box .text-content p {
	text-transform: uppercase;
	color: #82b53f;
	margin-top: 5px;
	line-height: 16px;
}
.timetable_sec .project-box .text-content.show {
	z-index: 999;
	display: block;
	visibility: visible;
}
.timetable_sec select {
	background-color: white;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.timetable_sec select.select_day {
	background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%),  linear-gradient(135deg, #ffffff 50%, transparent 50%),  linear-gradient(to right, #7aa83e, #7aa83e);
	background-position: calc(100% - 20px) calc(1em + 2px),  calc(100% - 15px) calc(1em + 2px),  101% 0;
	background-size: 5px 5px,  5px 5px,  2.5em 2.5em;
	background-repeat: no-repeat;
}
.select_day {
	display: none;
}
.day_tabs {
	display: block;
}

#filter-tabs {
    text-align: center;
    list-style: none;
    background-color: #f3f3f3;
    /*padding: 9px;*/
	margin-bottom: 40px !important;
    width: -moz-max-content;
    margin: auto;
	border-radius:40px;
}
#filter-tabs li {
  display: inline;
  /*margin: 15px;*/
}
/*span.btn-txt:hover{
	background-color:#82b53f;
	color:#fff;
	border-radius:40px;
	transition:all ease 0.5s 0s;
	cursor:pointer;
}*/
span.btn-txt {
    padding: 10px;
	text-transform:uppercase;
}
.time_filter {
    margin-top: 30px;
    margin-bottom: 50px;
}
#fofilter-tabsoter a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  font-variant: small-caps;
  padding:10px;
}

/* 
---------------------------------------------
gallery
--------------------------------------------- 
*/
.gallery .item {
	transition: all 0.5s ease 0s;
	position: relative;
}
.gallery .item a {
	display: block;
}
.gallery .item a img {
	width: 100%;
}
.gallery .item a i {
	position: absolute;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
	top: 45%;
	left: 45%;
	opacity: 0;
	transition: all 0.5s ease 0s;
}
/*.img_hover:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #82b53f;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.5s ease 0s;
}*/
.img_hover{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.gallery .item:hover:before {
	opacity: 0.5;
}
.gallery .item:hover a i {
	opacity: 1;
}
figcaption {
	display: none;
}
.gallery {
    margin-bottom: -10px;
}
/* 
---------------------------------------------
Blog_section
--------------------------------------------- 
*/
.blog_sec a:hover {
	color: black;
	text-decoration: none;
}
.blog_sec .owl-theme .owl-nav {
	display: none;
}
.blog_sec .owl-theme .owl-dots .owl-dot.active span, .blog_sec .owl-theme .owl-dots .owl-dot:hover span {
	background: #82b53f;
}
.blog_sec .title {
	text-align: center;
	margin-bottom: 40px;
}
.blog_sec {
	position: relative;
	padding: 70px 0 70px;
	background: #ffffff;
}
.blog_sec .row {
	margin-top: 20px;
}
.blog_sec a {
	color: black;
}
.card:hover .blog_info h4 a {
	color:#82b53f;
}
.blog_sec .card {
	background-color: #FFFFFF;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 15px #b0a9a9;
	transition: all ease 0.5s 0s;
}
.blog_sec .card:hover {
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
	color: black;
	transition: all ease 0.5s 0s;
}
.blog_sec .card img {
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.blog_sec .card h4 {
	text-transform: uppercase;
	margin-top: 30px;
}
.blog_sec .card h4 a:hover{
	color:#82b53f;
	transition:all ease 0.5s 0s;
}
.blog_sec .blog_info {
	margin: 30px 20px;
	padding-bottom: 30px;
}
.blog_sec .card p {
	opacity: 0.65;
	margin-top: 15px;
	margin-bottom: 15px;
}
.blog_sec .blog_read {
	color: black;
	font-style: italic;
}
.blog_sec .blog_read:hover {
	color: #82b53f;
}
.b_date {
	position: absolute;
	bottom: 199px;
	margin-left: 30px;
}
.b_date span {
	position: absolute;
	color: #ffffff;
	top: 21%;
	left: 22%;
	text-align: center;
}
@media (max-width: 768px) {
.blog_sec .col-lg-4 {
	margin-top: 20px;
}
}
/*blog section*/

/* 
---------------------------------------------
Contact_section
--------------------------------------------- 
*/
.home_contact_sec {
	max-height: 630px;
	overflow: hidden;
}
.home_contact_sec .left {
	z-index: 22;
	position: absolute;
	background-image: url(../images/cbg2.png);
	background-size: cover;
	left: -170px;
	padding-left: 400px;
	padding-top: 80px;
	padding-bottom: 23px;
	top: -1px;
	-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);

}
.home_contact_sec .left:before 
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.home_contact_sec .cbg {
	padding: 0;
}
.home_contact_sec .left h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}
.home_contact_sec .left form {
	margin-top: 50px;
}
#site-map {
	height: 730px;
	max-height: 730px;
}
 .site-contact-form::placeholder {
color: #ffffff;
}
.home_contact_sec .site-contact-form input, .home_contact_sec .site-contact-form textarea {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	padding: 10px 0;
	margin-bottom: 30px;
}
.home_contact_sec .site-contact-form textarea {
}
.home_contact_sec .site-contact-form input:focus {
	border: none;
	border-bottom: 1px solid #ffffff;
}
.home_contact_sec .primary-btn {
	margin: 40px 0;
	margin-top: 10px;
	box-shadow:none;
}
.hmap {
    padding: 0;
    width: 100%;
    float: right;
}
.gm-inset-map {
    display: none !important;

}
.hmap iframe {
	max-height: 630px;
	filter: grayscale(100%);
}

/* 
---------------------------------------------
Footer
--------------------------------------------- 
*/
.main-footer {
	position: relative;
	background: #111111;
	color: #ffffff;
}
.quick-links {
	padding-left: 60px !important;
}
.main-footer .footer-widget-area {
	position: relative;
	padding-top: 70px;
	padding-bottom: 40px;
}
.main-footer .footer-widget-area .footer-widget {
	padding-bottom: 30px;
	padding-left: 0px;
}
.main-footer .about-widget .social a {
	margin-right: 15px;
}
.main-footer .about-widget .social a:hover {
	color: #82b53f;
}
.main-footer .logo_name {
	margin: 0;
	margin-bottom: 25px;
}
.footer-widget h4 {
	margin-bottom: 25px;
	text-transform: uppercase;
}
.main-footer .widget-link a:hover {
	color: #82b53f;
}
.address .info .fa {
	color: #82b53f;
	font-size: 20px;
	padding-left: 0;
}
.footer-bottom a {
	color: #82b53f;
}
.main-footer .nopadding {
	padding-left: 0;
}
.widget-link li {
	padding: 5px 0;
}
.widget-content .info li div {
	padding-bottom: 10px;
}
.widget-content .info {
	padding-left: 0;
}
.footer-bottom {
	background-color: #090909;
	padding: 15px;
}
.col-md-12.col-sm-12.col-sm-12.team_box {
	padding-left: 0px;
	padding-right: 0px;
}
#slider1 i.fa.fa-angle-left {
	height: 44px;
	width: 44px;
	border: 1px solid #000;
	font-weight: normal;
	font-size: 36px;
	line-height: 39px;
	color: #000;
}
#slider1 i.fa.fa-angle-right {
	height: 44px;
	width: 44px;
	border: 1px solid #000;
	font-weight: normal;
	font-size: 36px;
	line-height: 39px;
	color: #000;
}
#slider2 .owl-stage-outer {
	padding: 0px 0px 0px 0px !important;
}
.carousel-inner, .carousel, .item, .container, .fill {
	height: 100%;
	background-position: center center;
	background-size: cover;
}
.main-slider .fill:before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.slide-wrapper {
	display: inline;
}
.slide-wrapper .container {
	padding: 0px;
}
.home_contact_sec iframe{
	width:100%;
	height:100%;
}
/*------------------------------ 
vertical bootstrap slider
----------------------------*/
.carousel-inner> .item.next, .carousel-inner > .item.active.right {
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-o-transform: translateY(100%);
	top: 0;
	left: 0;
}
.carousel-inner > .item.prev, .carousel-inner > .item.active.left {
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	top: 0;
	left: 0;
}
.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	top: 0;
	left: 0;
}
/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
	right: 10px;
	left: auto;
	width: auto;
}
/*-------- Animation slider ------*/
.animated {
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-ms-animation-duration: 3s;
	-o-animation-duration: 3s;
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
}
.carousel-img {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.inner-content h2 {
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	top: 0;
}
.inner-content h3 {
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
a.slider_readmore {
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
}
.slider_readmore:hover .fa {
	font-size: 18px;
	color: #82b53f;
}
.inner-content {
	height: 87vh;
	position: relative;
	vertical-align: middle;
}
.iner_info {
	top: 30vh;
}
i.fa.fa-arrow-right {
	padding-left: 10px;
}
.address_box {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.address_box i.fa.fa-phone {
	font-size: 20px;
	color: #82b53f;
	margin-top: 7px;
	float: left;
	padding-right: 10px;
	padding-left: 7px;
}
i.fa.fa-envelope {
	font-size: 18px;
	color: #82b53f;
	margin-top: 7px;
	float: left;
	padding-left: 7px;
	padding-right: 10px;
}
i.fa.fa-map-marker {
	font-size: 22px;
	color: #82b53f;
	margin-top: 12px;
	float: left;
	padding-left: 7px;
	padding-right: 10px;
}
.address_box p {
	font-size: 15px;
	color: #fff;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 8px;
	float: left;
	top: 11px;
}
.address_box1 p {
	font-size: 15px;
	color: #fff;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 22px;
	float: left;
	top: 11px;
}
.latest-work {
	padding-left: 30px;
}
.address {
	padding-left: 30px;
}
/*------------------------------- 
scroll_to_top
------------------------------*/
.scrollToTop {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 25px;
	line-height: 50px;
	z-index: 9999999;
	bottom: 25px;
	display: none;
	background: #7aa83e;
	border-radius: 50px;
	text-align: center;
	color: white;
	font-size: large;
	transition: all 0.5s linear;
	text-decoration: none;
	-webkit-box-shadow: 0 0 15px 0 rgba(54,54,54,0.3);
}
a.scrollToTop:hover, a.scrollToTop:focus {
	text-decoration: none;
	background-color: #fff;
	color: #222;
	-webkit-box-shadow: 0 0 15px 0 rgba(54,54,54,0.3);
	box-shadow: 0 0 15px 0 rgba(54,54,54,0.3);
}
/* 
---------------------------------------------
Inner_page_banner
--------------------------------------------- 
*/
.breadcrumb_sec {
	background-image: url(../images/blog_cover.png);
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
}
.breadcrumb_sec:before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 450px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.blog_txt {
	margin: 0 auto;
	padding-top: 225px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.blog_txt h1 {
	font-size: 75px;
	font-weight: 800;
}
.blog_txt p {
	opacity: 0.7;
}
.blog_txt p .fa {
	font: normal normal normal 15px/1 FontAwesome;
	font-family: FontAwesome;
	font-size: 18px;
	padding: 0 5px;
}
/* 
---------------------------------------------
Blog_page
--------------------------------------------- 
*/
.blog_main_sec {
	position: relative;
	padding: 60px 0 60px;
	background: #ffffff;
}
.breadcrumb_sec .blog_main_sec article {
	padding: 20px 0;
}
.blog_detail:hover .blog_title a{
	color:#7aa83e;
	transition:all ease 0.5s 0s;
}
.cmnt a{
	color:#777;
}
.blog_title a{
	font-weight: 600;
	color: #323232;
	margin-bottom: 12px;
}
.blog_main_sec .upload_info .fa {
	color: #82b53f;
}
.upload_info span {
	color: #323232;
	padding-right: 20px;
}
.blog_detail img {
	width: 100%;
}
.blog_detail {
	padding: 20px 0;
	padding-bottom: 55px;
	border-bottom: 1px solid #e1e1e1;
}
.blog_main_img {
	max-height: 400px;
	overflow: hidden;
	margin: 20px 0;
}
.blog_pera {
	text-align: justify;
	color: #626262;
	line-height: 28px;
}
.read_social .pull-left a {
	color: #82b53f;
	font-style: italic;
}
.read_social .pull-left .fa {
	padding-left: 5px;
}
.read_social .pull-right .fa {
	padding-left: 10px;
	color: #323232;
	font-size: 18px;
}
.read_social .pull-right .fa:hover {
	color: #82b53f;
}
.pagination {
	display: inline-block;
	margin: 80px auto 10px;
	margin-left: 30%;
}
.pagination .pre, .pagination .next {
	background-color: #82b53f;
	color: #ffffff;
}
.pagination a {
	color: #7e7e7e;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	margin: 0 4px;
	background-color: #f3f3f3;
}
.blog_left {
	padding-right: 25px;
}
.blog_right {
	padding-left: 25px;
}
.blog_right .blog_title {
	color: #323232;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 30px;
}
.blog_right article {
	padding: 20px 0;
}
.input-group {
	padding: 3px;
	border: solid 1px #f0f0f2;
	background-color: #fafafc;
}
.search_blog input {
	border: 0;
	box-shadow: none;
	font-size: 14px;
	padding: 6px 15px;
	height: 40px;
	padding-left: 25px;
	background: transparent;
}
.form-control:focus {
	border: none;
	border-color: transparent;
	box-shadow: none;
}
.search_blog button {
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #a9a9a9;
	padding: 0 8px 0 10px;
	padding-right: 25px;
}
.search_blog button:hover {
	color: #82b53f;
	background-color: transparent;
	border-color: transparent;
}
.search_blog .glyphicon-search {
	font-size: 23px;
}
.Categories_blog .cat_list a {
	color: #282926;
}
.Categories_blog .cat_list {
	padding: 6px 15px;
}
.Categories_blog .cat_list:nth-child(odd) {
	background: #f3f3f3;
}
.Categories_blog .cat_list:hover a, .Categories_blog .cat_list.active a, .Categories_blog .cat_list:focus a {
	color: #82b53f;
	cursor: pointer;
}
.Categories_blog .cat_list .fa {
	font-size: 5px;
	padding: 0 12px;
	vertical-align: middle;
}
.articles_blog li:last-child {
	margin-bottom: 40px;
}
.articles_blog .articles:nth-child(odd) {
	background: #f3f3f3;
}
.articles_blog .art_img {
	max-height: 100px;
	max-width: 100px;
	overflow: hidden;
}
.articles_blog .articles {
	margin-bottom: 20px;
	padding: 0;
}
.articles_blog .art_info {
	padding-top: 10px;
	padding-left: 15px;
	max-height: 100px;
}
.articles_blog .art_info h4 {
	font-weight: 600;
	color: #373735;
}
.articles_blog .art_info p {
	color: #696969;
}
.tags_blog .tag_list .tags {
	position: relative;
	float: left;
	padding: 5px 24px;
	font-size: 14px;
	text-transform: capitalize;
	color: #999999;
	cursor: pointer;
	font-weight: 500;
	transition: all ease 0.5s 0s;
	background: #f2f2f2;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-right: 10px;
}
.tags_blog .tag_list .tags a {
	color: #999999;
}
.tags_blog .tag_list .tags:hover, .tags_blog .tag_list .tags.active, .tags_blog .tag_list .tags:focus {
	background: #82b53f;
	color: #ffffff;
}
.tags_blog .tag_list .tags.active a, .tags_blog .tag_list .tags:hover a, .tags_blog .tag_list .tags:focus {
	color: #ffffff;
}
/* 
---------------------------------------------
404 Page
--------------------------------------------- 
*/
.page-coming .center h1, .page-404 .center h1 {
	display: block;
	font-family: 'Fira Sans', sans-serif;
	color: #cc1b6f;
	text-align: center;
	font-size: 26pt;
	font-weight: 900;
	margin: 15px 0 80px;
}
a.btn.btn-lg.btn-pink {
	-webkit-border-radius: 30px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 30px;
	-moz-background-clip: padding;
	border-radius: 30px;
	background-clip: padding-box;
	transition: background .8s ease;
	font-weight: 500;
	padding: 8px 40px;
	border: 0 none;
	color: #fff;
	background: #cc1b6f;
}
.widget-post .image {
	position: relative;
	float: left;
	width: 23.333%;
	overflow: hidden;
	margin-bottom: 15px;
	margin-right: 15px;
}
.widget-post img {
	/* margin-top: 6px; */
	width: 100%;
}
/* 
---------------------------------------------
About_page
--------------------------------------------- 
*/
.about_con h2 {
	margin-bottom: 20px;
}
.about_con p {
	color: #000000;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.5px;
	margin-top: 15px;
}
.read_more {
	margin-top: 40px;
}
.about_con {
	margin-top: 75px;
}
section.about_inner_page {
	padding-top: 90px;
}
.about_services {
	background-color: #252b2f;
}
.services_box h3 {
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 500;
}
.services_box p {
	font-size: 15px;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	line-height: 28px;
	margin-top: 20px;
	letter-spacing: 0.5px;
}
.about_icon img {
	margin: auto;
	margin-bottom: 22px;
}
.about_services {
	padding-top: 75px;
	padding-bottom: 75px;
}
.section_title1 h2 {
	font-size: 30px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	margin-bottom: 0;
}
.clients_con p {
	font-size: 15px;
	color: #000000;
	line-height: 30px;
	text-align: center;
}
.client_img img {
	max-width: max-content;
}
.client_name h3 {
	color: #000000;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-align: left;
}
.client_name p {
	font-size: 14px;
	color: #7aa83e;
	letter-spacing: 0.5px;
	text-align: left;
}
.client_img img {
    border-radius: 50px;
}
.client_name {
	padding-top: 15px;
	position: relative;
}
.client_img {
	float: left;
	margin-right: 20px;
}
#slider i.fa.fa-angle-left {
	border: 2px solid #00bbd1;
	width: 40px;
	height: 40px;
	font-size: 23px;
	color: #00bbd1;
	line-height: 34px;
	font-weight: 600;
	transition: all ease 0.5s 0s;
}
#slider i.fa.fa-angle-left:hover {
	background-color: #00bbd1;
	color: #fff;
	transition: all ease 0.5s 0s;
}
#slider i.fa.fa-angle-right {
	border: 2px solid #00bbd1;
	width: 40px;
	height: 40px;
	font-size: 23px;
	color: #00bbd1;
	line-height: 34px;
	font-weight: 600;
	transition: all ease 0.5s 0s;
}
#slider i.fa.fa-angle-right:hover {
	background-color: #00bbd1;
	color: #fff;
	transition: all ease 0.5s 0s;
}
.client_name1 {
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 30px;
}
#slider .owl-dots {
	margin-top: 30px !important;
}
#slider {
	margin-top: 10px;
}
#slider .owl-prev {
	top: 25%;
	left: -12%;
}
#slider .owl-next {
	top: 25%;
	right: -12%;
}
.section_title1 h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
	color: #000000;
}
#slider5 .owl-nav {
	display: block;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #7aa83e;
	font-size: 40px;
	margin: -30px;
	padding: 0px -3px;
	background: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}
.inner_clients {
	margin-top: 50px;
	margin-bottom: 50px;
}
.inner_gallery {
	margin-bottom: -10px;
}
/* 
---------------------------------------------
Shedule_page
--------------------------------------------- 
*/
section.timetable_sec.inner_page {
	padding-top: 20px;
}
section.timetable_sec.inner_page {
	padding-top: 50px;
	padding-bottom: 100px;
}
.timetable_sec inner_page #filter-tabs li{
	padding:0px !important;
}

/* 
---------------------------------------------
Classes_page
--------------------------------------------- 
*/
.inner_classes h4 {
	text-align: center;
}
.inner_classes .text h5 {
    font-size: 15px;
    color: #82b53f;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inner_classes .text-content {
	bottom: -1px;
	left: -27px !important;
	padding: 15px 40px 15px 64px !important;
	height: auto;
	width: 100%;
	text-align: left;
	background: rgba(255,255,255,0.85);
	transform: skewX(35deg);
}
.home_course_sec .coueses-box:hover:hover .text h5 {
	color: #fff;
}
.portfolioFilter {
	padding: 15px 0;
}
.portfolioFilter a {
	color: #666;
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 4px 15px;
	border-radius: 50px;
	display: inline-block;
}
.portfolioFilter a.current {
	background: #1e1e1e;
	border: 1px solid #1e1e1e;
	color: #f9f9f9;
}
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.inner_classes .image img {
	margin: 0;
}
#filter_box {
	text-align: center;
	list-style: none;
	background: #f3f3f3;
	width: -moz-max-content;
	border-radius: 30px;
	margin: auto;
	width:max-content;
}
#filter_box li {
	display: inline;
	margin: 2px;
	padding: 0px;
}
#filter_box a {
	text-decoration: none;
	font-weight: 500;
	color: #040404;
	font-size: 15px;
	text-transform: uppercase;
	border: none;
	padding-top: 8px;
	transition: all ease 0.5s 0s;
	padding-bottom: 8px;
}
#filter_box a:hover {
	background-color: #82b53f;
	color: #fff;
	transition: all ease 0.5s 0s;
}
a.current {
	background-color: #82b53f !important;
	color: #fff !important;
	transition: all ease 0.5s 0s;
}
.inner_classes {
    background-color: #fff;
    min-height: 800px;
}

/* 
---------------------------------------------
Contact_page
--------------------------------------------- 
*/
.address-box {
 margin-top: 10px;
}
.address-box .phone_icon {
	margin-top: 12px;
	float: left;
	padding-right: 10px;
}
.address-box p {
	font-size: 15px;
	color: #727272;
	text-transform: none;
	font-weight: 400;
	line-height: 30px;
	float: left;
	margin-top: 0;
}
.address-box p a {
	font-size: 15px;
	color: #727272;
	text-transform: none;
	font-weight: 400;
	line-height: 30px;
	float: left;
	margin-top: 0;
}
.address-box {
	width: 100%;
	overflow: hidden;
}
.address-box .mes_icon {
	margin-top: 4px;
	float: left;
	padding-right: 10px;
}
.address-box .loc_icon {
	margin-top: 4px;
	float: left;
	padding-right: 10px;
}
.address-box .fax_icon {
	margin-top: 4px;
	float: left;
	padding-right: 10px;
}
.trainers_box {
	border: 1px solid #acacac;
	padding: 15px 10px 15px 30px;
	overflow: hidden;
	min-height: 352px;
}
.contace_title h3 {
	color: #040404;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 40px;
	letter-spacing: 0.5px;
}
.time_box {
	background-image: url(../images/time_bg.jpg);
	background-size: cover;
	padding: 36px 10px 36px 40px;
}
.time_box p {
	font-size: 16px;
	color: #fff;
}
.trainers_box p {
	font-size: 15px;
	color: #727272;
	text-transform: none;
	font-weight: 400;
	line-height: 30px;
	float: left;
	margin-top: 0;
}
.inner_contact {
	margin-top: 90px;
	margin-bottom: 90px;
}
.contact_title h2 {
	color: #040404;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 40px;
	letter-spacing: 0.5px;
	text-align: center;
}
.contact_form_detail {
	width: 100%;
	height: 45px;
	padding-left: 15px;
	border-radius: 40px;
	border: 1px solid #b7b7b7;
	background-color: #fff;
	color: #777777;
	margin-bottom: 30px;
}
.contact_form_detail:hover {
	border: 1px solid #82b53f;
	outline: none;
	transition: all ease 0.5s 0s;
	box-shadow: 3px 4px 15px 0px rgba(209, 209, 209, 0.75);
}
.contact_form_detail:focus {
	border: 1px solid #82b53f;
	outline: none;
	transition: all ease 0.5s 0s;
	box-shadow: 3px 4px 15px 0px rgba(209, 209, 209, 0.75);
}
.contact_form_detail1 {
	width: 100%;
	height: 125px;
	padding-left: 15px;
	padding-top: 15px;
	border-radius: 20px;
	border: 1px solid #b7b7b7;
	background-color: #fff;
	color: #777777;
}
.contact_form_detail1:hover {
	border: 1px solid #82b53f;
	outline: none;
	transition: all ease 0.5s 0s;
	box-shadow: 0px 3px 10px 0px rgba(204, 204, 204, 0.55);
}
.contact_form_detail1:focus {
	border: 1px solid #82b53f;
	outline: none;
	transition: all ease 0.5s 0s;
	box-shadow: 0px 3px 10px 0px rgba(204, 204, 204, 0.55);
}
input.submit_btn {
	background-color: #82b53f;
	color: #fff;
	padding: 11px 30px 10px 30px;
	border: none;
	transition: all ease 0.5s 0s;
}
input.submit_btn:hover {
	background-color:#72a82c;
	transition: all ease 0.5s 0s;
}

input.submit_btn :hover {
	transition: all ease 0.5s 0s;
}
.submit_btn_box {
	text-align: center;
	margin-top: 30px;
}
.contact_form_bg {
	margin-bottom: 60px;
}
.map {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.map iframe {
	width: 100%;
	margin-bottom: -7px;
}
/* 
---------------------------------------------
404 Page
--------------------------------------------- 
*/
.error h1 {
	font-size: 250px;
	font-weight: 600;
	color: #3b3e47;
	text-align: center;
}
section.error_page {
	margin-top: 190px;
}
.color_change {
	color: #82b53f;
}
.error h3 {
	font-size: 30px;
	color: #3b3e47;
	text-transform: uppercase;
	margin-top: 0px;
	font-weight: 600;
	text-align: center;
}
.error p {
	font-size: 17px;
	color: #7f8185;
	margin-top: 20px;
	letter-spacing: 0.5px;
	text-align: center;
}
.homepage_btn {
	font-size: 15px;
	color: #fff;
	background-color: #82b53f;
	letter-spacing: 0.5px;
	padding: 13px 30px;
}
.go_btn {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}
.error_img img {
	width: 170%;
	position: relative;
	left: -300px;
	z-index: -1;
	top: -20px;
}
/* 
---------------------------------------------
Comeing Soon
--------------------------------------------- 
*/

html, body, .wrapper {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	position: relative;
	background: url(../images/coming_bg.jpg) no-repeat center center/cover;
	height: 100vh !important;
}
.wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
header, .content {
	position: absolute;
}
.content {
	top: 50%;
	left: 50%;
	text-align: center;
	color: #fff;
	transform: translate(-50%, -50%);
}
.comeing_con h1 {
	font-size: 60px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 60px;
	text-transform: uppercase;
}
.error_con p {
	font-size: 16px;
	line-height: 30px;
	margin-top: 45px;
	margin-bottom: 45px;
	opacity: 0.8;
}
a.back_to_home {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 19px 35px;
	background-color: #ff7101;
	border-radius: 50px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	margin: 15px;
	border: 2px solid #ff7101;
	transition: all ease 0.5s 0s;
}
a.back_to_home:hover {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 19px 35px;
	background-color: transparent;
	border-radius: 50px;
	font-weight: bold;
	transition: all ease 0.5s 0s;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #fff;
}
.error_copy p {
	font-size: 15px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}
.owl-carousel.off {
	display: inline-block;
}
.back_home {
	margin-top: 60px;
	margin-bottom: 50px;
}
.color_change {
	color: #82b53f;
}
.comeing_con p {
	font-size: 18px;
	color: #fff;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
}
.well {
	background: none;
	border: none;
}
.clock {
	width: 145px;
	height: 145px;
	overflow: hidden;
	border-radius: 90px;
	border: 3px solid #82b53f;
}
.num {
	font-size: 25px;
	color: #82b53f;
	margin-top: 40px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.number_line {
	border-bottom: 2px solid #fff;
	width: 30px;
	margin: auto;
	margin-bottom: 15px;
}
.text h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.counter_box {
	margin-top: 30px;
}
.subscribe_box {
	margin-top: 50px;
	display: inline-block;
	width: 70%;
}
.subscribe_box h2 {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.5px;
}
input.form-control.cooming_soon.input-lg {
	background-color: #fff;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50px !important;
	font-size: 15px;
}
.input-group.cooming {
	box-shadow: none;
	border-radius: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: none;
	width: 100%;
	width: -99;
	padding: 0;
}
.form-subscribe .btn {
	background: #82b53f;
	height: 46.5px;
	border-radius: 40px !important;
	border: none;
	width: 46.5px;
}
i.fa.fa-paper-plane {
	font-size: 16px;
	color: #fff;
	padding-right: 5px;
}
.input-group-btn:not(:first-child)>.btn-group:first-child, .input-group-btn:not(:first-child)>.btn:first-child {
	margin-left: -42px;
}
#comeing_soon_icon {
	text-align: center;
	list-style: none;
	margin-top: 30px;
}
#comeing_soon_icon li {
	display: inline;
	margin: 2px;
}
#comeing_soon_icon a {
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	font-variant: small-caps;
}
#comeing_soon_icon i {
	height: 45px;
	width: 45px;
	background-color: #82b53f;
	font-size: 21px;
	border-radius: 50px;
	line-height: 45px;
}
#comeing_soon_icon i:hover {
	background-color: #fff;
	color: #82b53f;
	transition: all 0.5s 0s;
}
.subscribe_box {
	font-size: 20px;
	color: #fff;
}
.discount_con {
	background-image: url(../../../../../../../www.netizensstore.com/gymfit_theme/html/html/multipage_3/assets/images/discount_bg.html);
	background-size: cover;
	display: inline-block;
	width: 100%;
}
.discount_title h1 {
	font-size: 30px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
}
a.discount_button {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.discount_btn {
	border: 2px solid #fff;
	border-radius: 50px;
	float: right;
	padding: 20px 35px 20px 35px;
	margin-top: 40px;
	margin-bottom: 40px;
}
/* 
---------------------------------------------
Trainers_inner_page
--------------------------------------------- 
*/
.team_box_img .overlay_sec {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #000000;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	opacity: 0.88;
}
.team_box_img:hover .overlay_sec {
	bottom: 0;
	height: 100%;
	width: 100%;
}
.team_box_img:hover .text-content {
	border-top: 4px solid #ffffff;
	color: #ffffff;
	background: #82b53f;
}
.team_box_img .overlay_sec .text_con {
	color: white;
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 30%;
	-webkit-transform: translate(-20%, -50%);
	-ms-transform: translate(-20%, -50%);
	transform: translate(-20%, -50%);
	text-align: center;
}
.inner_team .text-content {
	bottom: -32px;
	left: -18px;
	padding: 30px 40px 30px 64px;
	height: auto;
	width: 100%;
	text-align: left;
	background: rgba(255,255,255,0.85);
	border-top: 4px solid #82b53f;
	position: absolute;
	transform: rotate(357deg) skew(20deg);
}
.inner_team .text-content .text {
	top: 0;
	transform: rotate(-357deg) skew(-20deg);
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
}
.inner_team .text-content .text h4 {
	font-weight: 800;
	padding-bottom: 10px;
}
.inner_team .text-content .text h5 {
	color: #82b53f;
	font-weight: 500;
}
.team_box_img {
	overflow: hidden;
	padding-left: 0;
	padding-right: 0px;
	max-height: 506PX;
}
.trainer_col {
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	margin: 15px;
	width: 30.70%;
}
.team_box_img:hover .text h5 {
	color: #fff;
}
section.inner_team {
	margin-top: 80px;
	margin-bottom: 80px;
}
/* 
---------------------------------------------
Call_to_action
--------------------------------------------- 
*/
.call_to_action {
	background-image: url(../images/contact_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}
.call_to_action_con h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0.5px;
}
.call_to_action_con p {
	color: #d2d1d4;
	font-size: 15px;
	line-height: 28px;
	margin-top: 20px;
	margin-bottom: 0px;
}
a.action_btn {
	background-color: #82b53f;
	padding: 11px 40px;
	border: 2px solid #82b53f;
	transition: all ease 0.5s 0s;
}
a.action_btn:hover {
	background: none;
	padding: 11px 40px;
	border: 2px solid #82b53f;
	transition: all ease 0.5s 0s;
	color: #fff;
}
.call_to_action_btn {
	float: right;
	margin-top: 60px;
}
.navbar-toggle {
	border: 1px solid #82b53f;
	margin-right: 5px;
}
.navbar-toggle .icon-bar {
	background-color: #82b53f;
}


Blog_detail_page


/* 
---------------------------------------------
Blog_detail_page
--------------------------------------------- 
*/

.c-post header {
    height: auto;
}
.c-post .entry-title {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 25px;
}
.marg-lg-b45 {
    margin-bottom: 30px;
}
h2.blog_title {
    margin-bottom: 10px;
}
.marg-lg-b70 {
    margin-bottom: 70px;
}
.c-post .entry-content .tags-links a {
    text-transform: uppercase;
    color: #bbbdbf;
    letter-spacing: 2px;
    margin-right: 20px;
}
.c-post .single-pager {
    margin-bottom: 45px;
}
.c-post .entry-content .tags-links a {
    text-transform: uppercase;
    color: #bbbdbf;
    letter-spacing: 2px;
    margin-right: 15px;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.c-post .entry-content .tags-links a:hover {
    color: #7aa83e;
	transition:all ease 0.5s 0s;
}
.c-post .c-post-author {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.c-post .c-post-author .author-info {
    margin-top: 1px;
    padding-left: 26px;
    overflow: hidden;
}
.c-post .c-post-author .author-name {
    color: #000;
    color: #666;
    text-transform: uppercase;
    line-height: 10px;
    letter-spacing: 1.5px;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
}
.c-post .c-post-author .author-desc {
    color: #1e2633;
    letter-spacing: 0.55px;
    line-height: 25px;
    margin-bottom: 25px;
}
.c-post .c-line {
    border-bottom: 1px solid #f3f4f6;
    padding-bottom: 30px;
}
.marg-lg-t20 {
    margin-top: 20px;
}

.c-post .c-line {
    border-bottom: 1px solid #f3f4f6;
    padding-bottom: 30px;
}
.c-post .c-heading {
    font: 800 13px "Raleway", sans-serif;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
}
.c-post .c-post-comments .c-comment-body {
    position: relative;
    padding-left: 7px;
    margin-top: 40px;
}
.c-post .c-post-comments .comment-author img {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}
.c-post .c-post-comments .time a {
    font-size: 15px;
    color: #9f9d9e;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.marg-lg-t30 {
    margin-top: 30px;
}
.marg-lg-t30 {
    margin-top: 30px;
}
.c-post .c-post-comments .comment-author a {
    color: #9f9d9e;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.wpc-contact-form.post-form {
    padding: 34px 0;
    margin: 0;
}
.wpc-contact-form.post-form .field.message {
    margin-bottom: 30px;
}
.wpc-contact-form textarea {
    padding-bottom: 5px;
}
.c-post .c-heading {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.comment-respond textarea{
    width: 100%;
    height: 125px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    color: #777777;
}
.comment-respond input{
	width: 100%;
    height: 45px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    background-color: #fff;
    color: #777777;
    margin-bottom: 30px;
}
.comment-respond .btn-submit {
    background-color: #82b53f;
    color: #fff;
    padding: 11px 30px 10px 30px;
    border: none;
    transition: all ease 0.5s 0s;
    width: auto;
    float: left;
	border-radius:0px;
}
.comment-respond .btn-submit:hover {
    background-color: #72a82c;
    transition: all ease 0.5s 0s;
}
.c-post header {
    height: auto;
    position: relative;
}
time.entry-date {
    color: #666;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.s-back-switch {
    margin-bottom: 20px;
}
.c-comment-list {
    padding: 0;
}
blockquote {
    border-left: 5px solid #7aa83e;
    background-color: #f5f5f5;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 20px;
}
blockquote p{
	font-weight:500;
}



.img_animate {
  animation-delay: 0.2s, 0s;
}

.title_animate {
  animation-delay: 0.4s, 0s;
}
.titlep_animate {
  animation-delay: 0.8s, 0s;
}




