<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
	$ean = $product->getResource()->getAttribute('ean')->getFrontend()->getValue($product);
?>
	<?php 
	if($ean =="")
		{ ?>
			<div class="eanpro">
			</div>
<?php	}
	else
		{ ?>
			<div class="eanpro">
				EAN: <?php echo $ean ?>
			</div>
<?php	} ?>