<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
	$nutritional_information = $product->getResource()->getAttribute('nutritional_information')->getFrontend()->getValue($product);
?>
	<?php 
	if($nutritional_information =="")
		{ ?>
			<div class="nutritionaldata">
				<h2>Nutritional Information</h2>
				No Information Found!
			</div>
<?php	}
	else
		{ ?>
			<div class="nutritionaldata">
				<h2>Nutritional Information</h2>
				<?php echo $nutritional_information ?>
			</div>
<?php	} ?>