<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
	$safety_info = $product->getResource()->getAttribute('safety_info')->getFrontend()->getValue($product);
?>
	<?php 
	if($safety_info =="")
		{ ?>
			<div class="safetyinfo">
				<h2>Safety Information</h2>
				No Information Found!
			</div>
<?php	}
	else
		{ ?>
			<div class="safetyinfo">
				<h2>Safety Information</h2>
				<?php echo $safety_info ?>
			</div>
<?php	} ?>