// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle4;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray46;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray40;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray46;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .border-radius (@radius) {
        border-radius: @radius;
        -webkit-border-radius: @radius;
        -moz-border-radius: @radius;
        -o-border-radius: @radius;
    }
    .box-shadow (@box-shadow) {
        box-shadow: @box-shadow;
        -webkit-box-shadow: @box-shadow;
        -moz-box-shadow: @box-shadow;
        -o-box-shadow: @box-shadow;
    }
    .transform (@translate) {
        transform: @translate;
        -webkit-transform: @translate;
        -moz-transform: @translate;
        -o-transform: @translate;
    }
    .transition  (@transition) {
        transition: @transition;
        -webkit-transition: @transition;
        -moz-transition: @transition;
        -o-transition: @transition;
    }
    body {
        .lib-css(background-color, @page__background-color);
        font-family: 'Poppins', sans-serif;
        color: @theme_txt_color;
        letter-spacing: 0.5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"] {
        background: #ffffff;
        background-clip: padding-box;
        border: 1px solid #2d3342;
        border-radius: 1px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        vertical-align: baseline;
        width: 100%;
        box-sizing: inherit;
        box-shadow: none !important;
    }

    button:not(.primary) {
        box-shadow: none;
    }

    select {
        background: #ffffff;
        background-clip: padding-box;
        border: 1px solid #2d3342;
        border-radius: 1px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        vertical-align: baseline;
        width: 100%;
        box-sizing: inherit;
        box-shadow: none !important;
    }
    .action.primary {
        background: @button_color;
        border: 1px solid @button_color;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        padding: 0 30px;
        font-size: 14px;
        box-sizing: border-box;
        vertical-align: middle;
        height: 50px;
        line-height: 48px;
        border-radius: 4px;
        &:hover{
            background: @theme_txt_color;
            border-color: @theme_txt_color;
        }
    }
    .custom-slider {
        .owl-nav {
            .owl-prev,
            .owl-next {
                background: transparent !important;
                &:after,
                &:before {
                    border-top: 6px solid @button_color !important;
                }
            }
        }
    }
    .fieldset > .field > .label, .fieldset > .fields > .field > .label {
        font-weight: 400;
        margin: 0 0 3px;
    }

    .cms-index-index {
        .block {
            margin-bottom: 0 !important;
        }
        .page-main {
            padding-top: 0;
        }
    }
    .page-products .page-title-wrapper {
        display: none;
    }
    .page-main {
        padding-top: 20px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul li{
        padding: 0;
        margin: 0;
    }
    img{
        vertical-align: middle;
    }
    .clearfix{
        &:before, &:after{
            content: '';
            display: table;
        }
        &:after{
            clear: both;
        }
    }

    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }
        .free-delivery {
            text-align: center;
            background: #ebebeb;
            padding: 5px 8px;
            font-weight: 400;
            border: 1px solid #e1e1e1;
            text-transform: capitalize;
            margin: 8px 0 !important;
            font-size: 12px;
            span {
                color: @button_color;
            }
        }

        .afterslider {
            ul li {
                float: none;
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
                img {
                    width: 100%;
                }
            }
        }

        .shopbygoal {
            overflow: hidden;
            text-align: center;
            padding: 10px 0;
            h2 {
                font-weight: 400;
                font-size: @home_heading_mobile;
                margin: 0;
                padding-bottom: 15px;
            }
            ul li {
                float: left;
                border: 1px solid @theme_txt_color;
                padding: 20px 0;
                border-radius: 5px;
                h3 {
                    font-size: 14px;
                    font-weight: 400;
                    height: 15px;
                }
            }
        }

        .featuredproducts {
            text-align: center;
            padding: 15px 0 0;
            h2 {
                font-weight: 400;
                font-size: @home_heading_mobile;
                margin: 0;
                padding-bottom: 15px;
            }
        }

        .bestsellers {
            text-align: center;
            padding: 15px 0 10px;
            h2 {
                font-weight: 400;
                font-size: @home_heading_mobile;
                margin: 0;
                padding-bottom: 10px;
            }
            > ul li {
                float: none;
                width: 100%;
                text-align: center;
                padding: 0 0;
                margin-right: 0;
                cursor: pointer;
                background: @button_color;
                margin-bottom: 5px;
                a {
                    font-size: 12px;
                    font-weight: 400;
                    margin: 0;
                    line-height: 30px;
                    margin-bottom: 2px;
                    text-decoration: none;
                }
            }
        }
        .shopbybrands {
            text-align: center;
            padding: 5px 0;
            h2 {
                font-weight: 400;
                font-size: @home_heading_mobile;
                margin: 0;
                padding-bottom: 15px;
            }
            .brand-widget {
                .carousel-inner .col-xs-2 {
                    padding: 15px;
					width: 33%;
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }

        .beforefooterbanner {
            padding: 5px 0 0;
            overflow: hidden;
            ul li {
                float: none;
                width: 100%;
                margin-bottom: 5px;
                img {
                    width: 100%;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }

        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;

        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }
    }

    .header.panel {
        > .header.links {
            .lib-list-inline();
            float: right;
            font-size: 0;
            margin-left: auto;
            margin-right: @indent__base;

            > li {
                font-size: @font-size__base;
                margin: 0 0 0 15px;

                > a {
                    .lib-link(
                    @_link-color: @header-panel__text-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @header-panel__text-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @header-panel__text-color,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @header-panel__text-color,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .header {
        &.content:extend(.abs-add-clearfix all) {
            padding: 20px 0 10px;
            position: relative;
        }

    }

    .logo {
        position: relative;
        z-index: 5;

        img {
            display: block;
        }

        .page-print & {
            display: inline-block;
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title  {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        margin-top: @indent__m;
    }

    .footer {
        &.content {
            .footerTop {
                max-width: 1530px;
                margin: 0 auto;
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                padding: 0 10px;
                .block.newsletter {
                    h2 {
                        margin: 0;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                    }
                    .content {
                        width: 100%;
                        max-width: 100%;
                        .control {
                            &:before {
                                display: none;
                            }
                        }
                        .action.primary {
                            font-size: 14px;
                            font-weight: 400;
                            border-radius: inherit;
                            padding: 0 20px;
                            border-bottom-right-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                    }

                }
            }

            .mainFooter {
                width: 100%;
                background: #f5f5f5;
                padding: 15px 10px 20px;
                .container {
                    max-width: 1366px;
                    margin: 0 auto;
                    .footerAbout {
                        .footerinfo {
							a {
								color: #1f2532;
								text-decoration: none;
							}
                            h3 {
                                margin: 0;
                                font-size: 14px;
                                font-weight: 400;
                                &:after {
                                    border-bottom: 1px solid #ff0000;
                                    content: '';
                                    display: block;
                                    width: 120px;
                                    margin-bottom: 5px;
                                    padding-bottom: 5px;
                                }
								&.ftrcut {
									margin-top: 15px;
								}
                            }
                            width: 50%;
                            float: left;
                            margin-right: 0;
                            margin-bottom: 10px;
                            ul {
                                > li {
                                    a {
                                        color: @theme_txt_color;
                                        line-height: 28px;
                                        text-decoration: none;
                                        font-weight: 400;
                                        font-size: 13px;
                                    }
                                }
                            }
							.ftrsocial {
								li {
									float: left;
									padding: 0 15px 0 0;
								}
							}
                        }
                    }
                }
            }

            ul:extend(.abs-reset-list all) {
            }

            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    .lib-font-size(16);
                    border-top: 1px solid @footer-links-separator-border-color;
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }

                a,
                strong {
                    display: block;
                    padding: @indent__s 0;
                }

                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }

                a {
                    .lib-link(
                    @_link-color: @footer-links-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @footer-links-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @footer-links-color-hover,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @footer-links-color-hover,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }
    .copyright-section {
        background: @theme_txt_color;
        padding: 10px 0;
        text-align: center;
		padding-bottom: 80px;
        .copyright {
            .lib-css(color, @color-white);
            float: none;
            font-size: 12px;
            letter-spacing: 0.5px;
        }
        .ftrPayment {
            float: none;
            line-height: 36px;
        }
    }
    .page-header,
    .page-footer {
        .switcher {
            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 10px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 90px
                );
                text-align: left;

                ul.dropdown {
                    a {
                        .lib-link(
                        @_link-color: @color-gray20,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-gray20,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @color-gray20,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @color-gray20,
                        @_link-text-decoration-active: none
                        );
                        display: block;
                        padding: 8px;
                    }
                }
            }

            strong {
                font-weight: @font-weight__regular;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;

        .block-title:extend(.abs-block-widget-title all) {
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
        .links .widget.block { margin: 0 }
    }

    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        .lib-css(background, @tooltip__background);
        border: @tooltip__border-width solid @tooltip__border-color;
        padding: 10px;
    }

    .Escus {
        h2 {
            font-weight: 500;
            margin-top: 0;
        }
        p {
            line-height: 25px;
        }
        h3 {
            font-size: 16px;
            line-height: 20px;
        }
        ul {
            margin-bottom: 10px;
            li {
                line-height: 25px;
            }
        }
    }
    .shopbtn {
        margin-top: 10px;
        a {
            background: @button_color;
            border: 1px solid @button_color;
            color: #fff;
            display: inline-block;
            font-weight: 500;
            height: 38px;
            line-height: 36px;
            border-radius: 4px;
            text-decoration: none;
            &:hover {
                background: @theme_txt_color;
            }
        }
    }
    .category-shop-by-brands .column.main {
        padding: 0 !important;
    }
    .esbrand {
        .brand-widget {
            .col-xs-6 {
                margin-bottom: 25px;
                .brand-image {
                    -webkit-box-shadow: 0 3px 12px -5px #000000;
                    -moz-box-shadow: 0 3px 12px -5px #000000;
                    box-shadow: 0 3px 12px -5px #000000;
                    min-height: 220px;
                    line-height: 215px;
                    img {
                        width: 100%;
                    }
                }
                .brand-name {
                    display: block;
                    text-align: center;
                    padding: 13px 0;
                    background: #000;
                    border-radius: 5px;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
    .centre-div {
        overflow: hidden;
        .contact-us {
            width: 100%;
            float: none;
            margin-bottom: 20px;
            h3 {
                margin-top: 0;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p {
                line-height: 25px;
            }
            .each-contact {
                padding: 0;
                margin-bottom: 20px;
                overflow: hidden;
                svg {
                    font-size: 25px;
                    float: left;
                    width: 10%;
                    margin-top: 6px;
                    margin-right: 10px;
                }
                .each-text {
                    width: 85%;
                    float: left;
                }
            }
        }
        .esform {
            .fieldset {
                margin: 0 0 20px;
            }
            .field {
                textarea {
                    border: 1px solid #2d3342;
                    box-shadow: none;
                }
            }
            .actions-toolbar {
                button {
                    padding: 0 30px;
                }
            }
        }
    }

    .faq {
        .faqcl {
            background: #f3f3f3;
            margin-bottom: 15px;
            h4 {
                margin: 0;
                padding: 18px;
                line-height: 22px;
                a {
                    color: @theme_txt_color;
                    text-decoration: none;
                    display: block;
                    position: relative;
                    svg {
                        font-size: 20px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        .faqcl2 {
            padding: 10px 18px;
        }
    }
    .brand-view {
        overflow: hidden;
        .brand-image {
            text-align: center;
            width: 50%;
            margin: 0 auto;
        }
        .brand-description {
            margin: 10px 0;
            text-align: center;
            p strong {
                font-size: 18px;
            }
            p {
                line-height: 22px;
                font-size: 13px;
            }
        }
    }
    .vesbrand-brand-view {
        .columns {
            padding: 0;
        }
    }
	#amfbreview .fb-comments .amasty-advanced-review {
		display: none;
	}
	.page-main {
		.account-social-login {
			margin-bottom: 15px !important;
			overflow: hidden;
			.actions-toolbar.social-btn {
				.btn-facebook {
					height: 40px;
					line-height: 40px;
					padding: 0;
					text-align: center;
					width: 250px;
					svg {
						position: static;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.review-list {
		margin-bottom: 0 !important;
		.amreview-customer-review {
			margin-bottom: 10px;
			strong {
				font-weight: 500 !important;
				font-size: 14px;
			}
		}
		.amreview-review-list {
			strong {
				font-weight: 500 !important;
				font-size: 14px;
			}
		}
		.amreview-info-wrapper {
			margin-bottom: 10px;
			padding: 5px 0;
			.amreview-summary-details {
				padding-right: 0;
				border-right: none;
			}
			.amreview-add-new {
				margin: 0;
				padding: 10px 0;
				.amreview-button {
					padding: 0 35px !important;
				}
			}
			.amreview-summary-info {
				.amreview-text {
					color: #000;
					font-size: 12px;
				}
			}
		}
		.amreview-review-wrapper{
			&.review-item {
				padding: 10px 0 15px;
			}
		}
		.review-toolbar {
			margin: 0 0 10px;
			.limiter {
				padding: 20px 0 0 !important;
			}
		}
		.amreview-author-details {
			.amreview-recommended {
				max-width: 100% !important;
				line-height: 18px;
				font-weight: 500;
			}
		}
	}
	.amreview-submit-form {
		padding-bottom: 20px;
		.es-custom-review {
			border-bottom: 1px solid #c9c9c9;
			padding-bottom: 10px;
		}
		.es-revfrm {
			padding-top: 10px;
			h4 {
				font-size: 18px;
				margin: 20px 0 8px;
			}
			p {
				font-size: 13px;
				margin: 0 0 15px;
			}
			.es-revbtn {
				background: #f00;
				color: #fff;
				border-color: #f00;
				padding: 12px 25px;
			}
		}
		.review-form {
			.fieldset {
				&.review-fieldset {
					max-width: 100% !important;
				}
			}
			.actions-toolbar.review-form-actions {
				margin: auto;
				padding: 10px 0 30px !important;
				max-width: 100% !important;
			}
			.action.submit.primary {
				background: #ff0000 !important;
			}
		}
		.product-reviews-summary {
			.es-total-reviews {
				display: block;
				font-size: 20px;
				font-weight: 600;
			}
		}
		.es-revfrm2 {
			
		}
	}
	.review-list {
		.block-title {
			strong {
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
	.internalpages {
		p {
			line-height: 26px;
			font-size: 14px;
		}
		ol {
			padding: 0 0 0 15px;
			line-height: 28px;
		}
		ul {
			line-height: 28px;
		}
	}
	.innerowlsection {
		padding: 25px 0;
		max-width: 1366px;
		margin: 0 auto;
		h2 {
			text-align: center;
			font-weight: 400;
			font-size: 20px;
			padding-bottom: 10px;
			margin: 0;
		}
		li {
			border: 1px solid #ebebeb;
			margin: 0 5px;
			padding: 0 10px;
			.es-pro-name {
				margin: 5px 0;
				word-wrap: break-word;
				height: 43px;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					color: #1f2532;
					font-size: 15px;
					font-weight: 500;
				}
			}
			.es-pro-rating {
				.product-reviews-summary {
					margin-bottom: 5px;
				}
			}
			.es-pro-price {
				font-weight: 600;
				font-size: 18px;
				color: #ff0000;
			}
			.es-pro-details {
				margin: 10px 0;
				a {
					background: #ff0000;
					border: 1px solid #ff0000;
					text-decoration: none;
					display: inline-block;
					font-weight: 500;
					line-height: 48px;
					border-radius: 4px;
					width: 100%;
					text-align: center;
					color: #fff;
					text-transform: uppercase;
					padding: 0;
					&:hover {
						background: #1f2532;
						border-color: #1f2532;
					}
				}
			}
		}
		.owl-nav {
			.owl-prev {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -10px;
				font-size: 50px !important;
			}
			.owl-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -10px;
				font-size: 50px !important;
			}
		}
	}
	.cms-home {
		.mp_social_share_inline {
			display: none;
		}
	}
	.cms-essex-loyals {
		.textPages {
			p {
				font-size: 13px;
				line-height: 24px;
				margin: 0 0 15px;
				&:last-child {
					margin: 0;
				}
			}
			h3 {
				font-size: 16px;
				font-weight: 600;
				margin: 0 0 12px;
			}
			h4 {
				font-size: 14px;
				font-weight: 500;
				margin: 0 0 12px;
			}
		}
		#accordion {
			margin-top: 18px;
			h3 {
				background: @theme_txt_color;
				color: #fff;
				cursor: pointer;
				font-size: 13px;
				font-weight: 400;
				margin: 6px 0 0;
				padding: 18px 48px 18px 12px;
				position: relative;
				&:after {
					content: '\e622';
					font-family: 'luma-icons';
					right: 10px;
					position: absolute;
					width: 25px;
					height: 25px;
					background: #f00;
					border-radius: 50px;
					top: 12px;
					text-align: center;
					line-height: 25px;
					font-weight: 400;
					font-size: 10px;
				}
			}
			.active {
				h3 {
					&:after {
						content: '\e621';
					}
				}
			}
			p {
				padding: 15px 0;
			}
		}
		
	}
	.home-footer-up {
		padding: 20px 10px;
		max-width: 1530px;
		margin: 0 auto;
		h1 {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 15px;
		}
		h2 {
			font-size: 15px;
			font-weight: 600;
			margin-bottom: 10px;
		}
		p,
		li {
			line-height: 26px;
			font-size: 13px;
		}
		li {
			margin-bottom: 1rem;
			list-style: outside;
			margin-left: 25px;
		}
	}
}

//
//  Navigation
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-1199) {
    .esbrand {
        .brand-widget .col-xs-6 {
            width: 25%;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-1024) {
    .header.content {
        min-height: 75px;
        padding: 0;
        margin-top: 30px;
        .header-right {
            float: left;
            margin-top: 30px;
            width: 27.5%;
            .switcher {
                display: block;
                position: absolute;
                top: -31px;
                background: #f3f3f3;
                width: 100%;
                left: 0;
                right: 0;
                padding: 5px 14px;
                .language-GBP {
                    font-size: 13px;
                }
            }
            .headerWishlist {
                display: none;
            }
            .headerAccount {
                margin: 0;
                position: absolute;
                left: 48px;
                top: 29px;
                .hdrAccountLinks {
                    .accToggle {
                        span {
                            display: none;
                        }
                        .fa-angle-down {
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        display: none;
                        background: #ffffff;
                        border: 1px solid #f1f1f1;
                        padding: 6px 0px;
                        position: absolute;
                        top: 100%;
                        width: 160px;
                        z-index: 99;
                        line-height: 30px;
                        margin-top: 10px;
                        li a {
                            color: #000;
                            padding: 0 10px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .header-left {
            .logo {
                position: absolute;
                left: 0;
                margin: 0 auto;
                top: 10px;
                right: 0;
                width: 200px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-991) {
    .page-wrapper {
        .shopbygoal ul li {
            width: 32.6%;
            margin-right: 1%;
            margin-bottom: 1%;
            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
        .bestsellers {
            > ul li {
                a {
                    color: #fff;
                    display: block;
                    &.active {
                        background: #000;
                        text-decoration: none;
                    }
                }
            }

        }
    }
	.innerowlsection {
		li {	
			.es-pro-name {
				a {
					font-size: 13px;
					font-weight: 400;
				}
			}
		}
	}
	
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    input[type="search"],
    input[type="number"],
    input[type="datetime"],
    input[type="email"] {
        height: 45px;
        line-height: 45px;
    }
    .action.primary {
        padding: 0;
    }
    .products.products-grid,
    .custom-slider {
        padding: 0 !important;
    }
    .cms-index-index .columns .column.main {
        padding-bottom: 0;
    }
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }

    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: -2px;
    }

    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }

    .header.content {
        min-height: 65px;
        .header-right {
            .headerAccount {
                position: static;
                .accToggle {
                    position: absolute;
                    left: 40px;
                    top: 25px;
                }
                .hdrAccountLinks {
                    .dropdown-menu {
                        margin: 0;
                        padding: 5px 0;
                        width: 100%;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
        .header-left {
            .logo {
                position: absolute;
                left: 0;
                margin: 0 auto;
                top: 10px;
                right: 0;
                width: 160px;
            }
        }
    }

    .page-footer .footer.content {
        padding: 0;
        .switcher-store {
            .lib-css(background, @footer__background-color);
            .lib-font-size(16);
            margin: 0 -@layout__width-xs-indent;

            .switcher-options {
                display: block;

                ul.dropdown {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    position: relative;

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                .switcher-trigger,
                .switcher-option {
                    border-top: 1px solid @footer-links-separator-border-color;
                    display: block;
                    padding: @indent__s @layout-indent__width;
                }

                .switcher-trigger strong {
                    padding: @indent__s 0;
                }

                .switcher-option a {
                    padding: 0;
                }
            }
        }
    }
    .footer {
        &.content {
            .footerTop {
                .block.newsletter {
                    .content {
                        .action.primary {
                            height: 45px;
                            line-height: 45px;
                        }
                    }
                }
            }
        }
    }
    .Escus {
        h2 {
            font-size: 17px;
        }
        p {
            font-size: 12px;
            line-height: 22px;
            ul {
                li {
                    font-size: 13px;
                }
            }
        }
    }
    .faq {
        .faqcl {
            h4 {
                line-height: 20px;
                font-size: 12px;
                padding: 10px;
                font-weight: 500;
                a svg {
                    display: none;
                }
            }
        }
        .faqcl2 {
            padding: 5px 10px;
        }
    }

    .category-shop-by-brands .columns {
        display: none;
    }
    .shopbtn {
        a {
            width: 100%
        }
    }
    .esbrand {
        .brand-widget .col-xs-6 {
            width: 50%;
        }
    }
	.internalpages {
		p {
			font-size: 13px;
		}
		ol, ul {
			font-size: 13px;
		}
	}
	.mp_social_share_float {
		top: auto !important;
		display: flex;
		right: 0;
		text-align: center;
		bottom: 0;
		justify-content: center;
	}
	.innerowlsection {
		padding: 10px 0;
		li {	
			.es-pro-price {
				font-size: 16px;
			}
			.es-pro-details {
				a {
					line-height: 38px;
					font-size: 12px;
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .logo {

    }
    .page-wrapper {
        .shopbygoal ul li {
            width: 49%;
            margin-right: 2%;
            margin-bottom: 2%;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
            &:nth-of-type(3n) {
                margin-right: 2%;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen-480) {
    .esbrand {
        .brand-widget .col-xs-6 {
            width: 100% !important;
        }
    }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1200) {
    .page-wrapper {
        .free-delivery {
            font-weight: 500;
            font-size: 14px;
            padding: 10px;
        }

        .shopbygoal {
            overflow: hidden;
            text-align: center;
            padding: 20px 0;
            max-width: 1366px;
            margin: 0 auto;
            h2 {
                font-weight: 500;
                font-size: @home_heading;
                padding-bottom: 25px;
            }
            ul li {
                float: left;
                width: 15%;
                border: 1px solid @theme_txt_color;
                padding: 35px 20px;
                margin-right: 2%;
                border-radius: 5px;
                h3 {
                    font-size: 24px;
                    font-weight: 500;
                    height: 25px;
                }
            }
        }

        .featuredproducts {
            text-align: center;
            padding: 25px 0;
            max-width: 1366px;
            margin: 0 auto;
            h2 {
                font-weight: 500;
                font-size: @home_heading;
                margin: 0;
                padding-bottom: 25px;
            }
        }

        .bestsellers {
            text-align: center;
            padding: 25px 0;
            max-width: 1366px;
            margin: 0 auto;
            h2 {
                font-weight: 500;
                font-size: @home_heading;
                padding-bottom: 25px;
            }
            > ul li {
                a {
                    font-size: 22px;
                }
                &:last-child h3{
                    border-right: none;
                }
            }
        }

        .claproduct,
        .dietprotein,
        .supplements,
        .specialoffers {
            max-width: 1366px;
            margin: 0 auto;
        }

        .shopbybrands {
            text-align: center;
            padding: 25px 0;
            max-width: 1366px;
            margin: 0 auto;
            h2 {
                font-weight: 500;
                font-size: @home_heading;
                margin: 0;
                padding-bottom: 25px;
            }
            .brand-widget {
                padding: 0 60px;
                .carousel-inner .col-xs-2 {
                }
            }
        }

        .beforefooterbanner {
            padding: 20px 0 0;
            overflow: hidden;
            ul li {
                float: left;
                width: 32.5%;
                text-align: center;
                margin-right: 1.2%;
                &:last-child {
                    margin-right: 0;
                }
            }

        }

    }

    .footer {
        &.content {
            border-top: none;
            .footerTop {
                padding: 0 20px;
                margin-bottom: 50px;
                .block.newsletter {
                    .content {
                        .control {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
	.innerowlsection {
		h2 {
			font-weight: 500;
			font-size: 40px;
			padding-bottom: 25px;
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025) {
    .header {
        &.content:extend(.abs-add-clearfix-desktop all) {
            .header-left {
                width: 19%;
                float: left;
                padding-right: 10px;
            }
            .header-middle {
                padding: 0px 10px;
                float: left;
                width: 46%;
            }
            .header-right {
                float: right;
                width: 35%;
                margin-top: 26px;
                padding-left: 10px;
                .switcher {
                    float: left;
                    width: 20%;
                    text-align: center;
                }
                .headerWishlist {
                    float: left;
                    text-align: center;
                    width: 16%;
                    a {
                        color: @theme_txt_color;
                        text-decoration: none;
                        font-weight: 500;
                        img {
                            display: block;
                            margin: 0 auto;
                            padding-bottom: 6px;
                        }
                    }
                }
                .hdrAccountLinks {
                    float: right;
                    position: relative;
                    width: 45%;
                    text-align: right;
                    .accToggle {
                        background-color: @button_color;
                        padding: 15px 0;
                        color: #fff;
                        font-weight: 500;
                        cursor: pointer;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        text-transform: uppercase;
                        display: block;
                        width: 160px;
                        float: right;
                        margin-top: -15px;
                        text-align: center;
                        .fa-user {
                            display: none;
                        }
                        span {
                            padding-right: 10px;
                        }
                    }
                    .dropdown-menu {
                        background: #ffffff;
                        border: 1px solid #ccc;
                        display: none;
                        padding: 8px 12px;
                        position: absolute;
                        right: 0;
                        top: 35px;
                        width: 160px;
                        z-index: 99;
                        line-height: 30px;
                        box-shadow: 0px 3px 2px -1px #f0f0f0;
                        text-align: left;
                        li {
                            a {
                                color: @theme_txt_color;
                            }
                        }

                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-992) {
    .page-wrapper {
        .bestsellers {
            text-align: center;
            padding: 15px 0 10px;
            > ul li {
                float: left;
                width: 25%;
                background: inherit;
                color: @theme_txt_color;
                border-right: 2px solid @theme_txt_color;
                margin-bottom: 20px;
                a {
                    font-size: 16px;
                    color: @theme_txt_color;
                    &.active {
                        border-bottom: 4px solid @button_color;
                        padding-bottom: 10px;
                        display: inline-block;
                    }
                }
                &:last-child{
                    border-right: none;
                }
            }
        }
        .shopbygoal {
            ul li {
                float: left;
                width: 15%;
                border: 1px solid @theme_txt_color;
                padding: 25px 10px;
                margin-right: 2% !important;
                border-radius: 5px;
                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }

    }

    .footer {
        &.content {
            border-top: none;
            .footerTop {
                padding: 0 20px;
                margin-bottom: 50px;
                .block.newsletter {
                    h2 {
                        font-size: 30px;
                        padding-bottom: 10px;
                    }
                    .content {
                        .control {
                            &:before {
                                display: none;
                            }
                        }
                    }

                }
            }

            .mainFooter {
                .container {
                    .footerAbout {
                        .footerinfo {
                            h3 {
                                font-size: 20px;
                                &:after {
                                    border-bottom: 2px solid #ff0000;
                                    margin-bottom: 20px;
                                    padding-bottom: 10px;
                                }
                            }
                            width: 20%;
                            float: left;
                            padding-right: 1%;
                            &:last-child {
                                padding-right: 0;
                            }
                            ul {
                                > li {
                                    a {
                                        font-weight: 300;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .centre-div .contact-us {
        width: 48%;
        float: left;
        margin-right: 4%;
        &:last-child{
            margin-right: 0;
        }
    }
    .esbrand {
        .brand-widget {
            .col-xs-6 {

            }
        }
    }
	.amreview-submit-form {
		width: 50%;
		float: left;
		padding-right: 40px;
		padding-bottom: 20px;
	}
	.review-list {
		width: 50%;
		float: left;
	}
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html,
    body {
        height: 100%; // Stretch screen area for sticky footer
    }

    body {
        .ie9 & {
            .lib-css(background-color, @copyright__background-color);
        }
    }

    .navigation ul {
        padding: 0 8px;
    }

    .page-header {
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
            .lib-css(background-color, @header-panel__background-color);
        }

        .header.panel:extend(.abs-add-clearfix-desktop all) {
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }
    }
    .page-main {
        > .page-title-wrapper {
            .page-title {
                font-size: 25px;
                font-weight: 400;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .customer-welcome {
        .lib-dropdown(
        @_toggle-selector: ~'.action.switch',
        @_options-selector: ~'ul',
        @_dropdown-actions-padding: 0,
        @_dropdown-list-item-padding: 0,
        @_dropdown-toggle-icon-content: @icon-down,
        @_dropdown-toggle-active-icon-content: @icon-up,
        @_icon-font-text-hide: true,
        @_icon-font-size: 10px,
        @_icon-font-line-height: 22px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-position-right: 0,
        @_dropdown-list-z-index: @customer-welcome__z-index
        );

        li:extend(.switcher li all) {
            a {
                .lib-link(
                @_link-color: @color-gray20,
                @_link-text-decoration: none,
                @_link-color-visited: @color-gray20,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @color-gray20,
                @_link-text-decoration-hover: none,
                @_link-color-active: @color-gray20,
                @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }

        .customer-name {
            cursor: pointer;
        }

        .customer-menu {
            display: none;
        }

        .action.switch {
            .lib-button-reset();
            .lib-css(color, @color-white);
        }

        .header.links {
            min-width: 175px;
        }

        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }

            .customer-menu {
                display: block;
            }
        }

        .greet {
            display: none;
        }
    }

    .header {
        &.panel {
            > .header.links {
                .lib-list-inline();
                float: right;
                margin-left: auto;

                > li {
                    margin: 0 0 0 15px;

                    &.welcome,
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(color, @color-white);
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }

                > .authorization-link {
                    &:after {
                        content: attr(data-label);
                        display: inline-block;
                        margin: 0 -@indent__xs 0 @indent__xs;
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }

                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }

        &.content:extend(.abs-add-clearfix-desktop all) {

        }
    }

    .logo {


        img {
            max-height: inherit;
        }
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0s;

        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
        .afterslider {
            ul li {
                float: left;
                width: 32.5%;
                margin-right: 1.25%;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .beforefooterbanner {
            padding: 20px 0 0;
            overflow: hidden;
            ul li {
                float: left;
                width: 32.5%;
                text-align: center;
                margin-right: 1.2%;
                &:last-child {
                    margin-right: 0;
                }
            }

        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
		.shopbybrands {
			.brand-widget {
				.carousel-inner .col-xs-2 {
					padding: 20px;
					width: 16.66%;
				}
			}
		}
    }

    .page-footer {
        margin-top: auto;

        .switcher {
            .options {
                ul.dropdown {
                    bottom: -@indent__s;
                    left: 100%;
                    margin: 0 0 0 @indent__base;
                    top: auto;

                    &:before,
                    &:after {
                        bottom: @indent__base - 7px;
                        left: auto;
                        right: 100%;
                        top: auto;
                    }

                    &:before {
                        .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
                    }

                    &:after {
                        .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
                        margin: 0 0 -1px -1px;
                    }
                }
            }
        }
    }

    .footer {
        &.content {
            border-top: none;

            .footerTop {
                .block.newsletter {
                    h2 {
                        margin: 0;
                        font-size: 18px;
                    }
                    .content {
                        width: 100%;
                        max-width: 650px;
                        margin: 0 auto;
                        .action.primary {
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }

                }
            }

            .mainFooter {
                padding: 30px 0 40px;
            }


            ul {
                padding-right: 0;
            }

            .switcher.store {
                display: block;
                margin: 0;
            }

            .links {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;

                li {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    margin: 0 0 8px;
                    padding: 0;
                }

                a,
                strong {
                    display: inline;
                }
            }
        }
    }
    .copyright-section {
		padding-bottom: 10px;
        .copyright {
            .lib-css(color, @color-white);
            float: left;
            line-height: 36px;
        }
        .ftrPayment {
            float: right;
        }
    }
    .centre-div {
        .contact-us {
            h3 {
                margin-bottom: 20px;
            }
            p {
                padding-bottom: 15px;
            }
            .each-contact {
                padding: 0;
                margin-bottom: 20px;
                svg {
                    font-size: 25px;
                    float: left;
                    width: 20%;
                    margin-top: 6px;
                }
                .each-text {
                    width: 75%;
                    float: left;
                }
            }
        }
        .esform {
            .actions-toolbar {
                button {
                    padding: 0 30px;
                }
            }
        }
    }
    .shopbtn {
        a {
            padding: 0 30px;
            height: 50px;
            line-height: 48px;
        }
    }
    .brand-view {
        .brand-image {
            width: 35%;
            float: left;
            text-align: center;
            margin-bottom: 10px;
            img {
                height: 200px;
            }
        }
        .brand-description {
            width: 65%;
            float: left;
            margin: 30px 0;
            text-align: left;
            p strong {
                font-size: 20px;
            }
            p {
                line-height: 25px;
            }
        }
    }
	.cms-essex-loyals {
		.textPages {
			p {
				font-size: 15px;
				line-height: 27px;
				margin: 0 0 20px;
			}
			h3 {
				font-size: 20px;
			}
			h4 {
				font-size: 16px;
				margin: 0 0 15px;
			}
		}
		#accordion {
			margin-top: 30px;
			h3 {
				font-size: 16px;
				margin: 10px 0 0;
				padding: 20px 60px 20px 25px;
				&:after {
					right: 15px;
					width: 30px;
					height: 30px;
					line-height: 30px;
					font-weight: 600;
					font-size: 12px;
				}
			}
			p {
				padding: 25px 0 22px;
			}
		}
	}
	.home-footer-up {
		padding: 50px 15px 10px;
		h1 {
			font-size: 25px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 18px;
			margin-bottom: 15px;
		}
		p,
		li {
			font-size: 14px;
		}
	}
}
