<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_AdvancedReview
 */
?>
<?php
//rewrite file Magento_Review::product/view/list.phtml

/** @var Magento\Review\Block\Product\View\ListView $block */
$displayedCollection = $block->getReviewsCollection();
$_items = $displayedCollection->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::MEDIUM;

/** @var \Amasty\AdvancedReview\Helper\BlockHelper $advancedHelper */
$advancedHelper = $block->getData('advanced-review-helper');

$filterStars = $displayedCollection->getFlag('filter_by_stars');
?>

<?php if (count($_items) || $filterStars):?>
<div class="block review-list" id="customer-reviews">
    <div class="block-title amreview-customer-review pages">
        <strong><?= $block->escapeHtml(__('Customer Reviews'))
            . $advancedHelper->getAdditionalTitle($filterStars, $block->getProductId()) ?></strong>
    </div>

    <div class="amreview-info-wrapper" data-amreview-js="review-container">
        <?= $advancedHelper->getReviewsSummaryHtml($block->getProduct(), $displayedCollection) ?>
        <?php if ($advancedHelper->isAllowGuest()):?>
            <div class="amreview-add-new">
                <a href="#review-form" title="<?= $block->escapeHtml(__('Write a review'));?>"
                   class="action primary amreview-button">
                    <?= $block->escapeHtml(__('Write a review'));?>
                </a>
                <p class="amreview-label">
                    <?= $block->escapeHtml(__('Share your thoughts with other customers'));?>
                </p>
            </div>
        <?php endif; ?>
    </div>

    <?php if (count($_items)) : ?>
        <p class="block-title amreview-review-list">
            <strong class="am-strong"><?= $block->escapeHtml(__('Top customer reviews'));?></strong>
        </p>
        <div class="block-content">
            <ol class="items review-items">
            <?php foreach ($_items as $_review):?>
                <li class="item review-item amreview-review-wrapper" itemscope itemprop="review" itemtype="http://schema.org/Review">
                    <div class="review-details amreview-author-details">
                        <div class="amreview-wrap">
                            <p class="amreview-author" itemprop="author">
                                <?= $block->escapeHtml($_review->getNickname()) ?>
                            </p>
                            <?= $advancedHelper->getVerifiedBuyerHtml($_review) ?>
                            <?= $advancedHelper->getRecommendedHtml($_review) ?>
                            <p class="amreview-date">
                                <time class="review-details-value"
                                      itemprop="datePublished"
                                      datetime="<?= $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?>">
                                    <?= $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?>
                                </time>
                            </p>
                        </div>
                    </div>
                    <div class="amreview-description-wrap">
                        <div class="amreview-title-review" itemprop="name"><?= $block->escapeHtml($_review->getTitle()) ?></div>
                        <?php if (count($_review->getRatingVotes())): ?>
                            <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                                <span class="amreview-rating-label"><?= $block->escapeHtml($_vote->getRatingCode()) ?></span>
                                <div class="amstars-rating-container -small"
                                     title="<?= $block->escapeHtml($_vote->getPercent()) ?>%"
                                     itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <meta itemprop="worstRating" content = "1"/>
                                    <meta itemprop="bestRating" content = "100"/>
                                    <p class="amstars-stars" style="width:<?= $block->escapeHtml($_vote->getPercent()) ?>%">
                                        <span itemprop="ratingValue" class="hidden">
                                            <?= $block->escapeHtml($_vote->getPercent()) ?>%
                                        </span>
                                    </p>
                                </div>
                            <?php endforeach; ?>
                        <?php endif; ?>

                        <div class="amreview-description" itemprop="description">
                            <?= nl2br($advancedHelper->cutLongDescription($block->escapeHtml($_review->getDetail()))) ?>
                            <?= $advancedHelper->getReviewImagesHtml($_review->getId()) ?>
                        </div>

                        <?php $like = $_review->getData('like_about'); ?>
                        <?php $disLike = $_review->getData('not_like_about'); ?>
                        <?php if ($advancedHelper->isProsConsEnabled() && ($like || $disLike)) : ?>
                            <div class="amreview-proscons-container">
                                <?php if ($like) : ?>
                                    <p class="amreview-proscons -like">
                                        <?= nl2br($block->escapeHtml($like));?>
                                    </p>
                                <?php endif; ?>
                                <?php if ($disLike) : ?>
                                    <p class="amreview-proscons -dislike">
                                        <?= nl2br($block->escapeHtml($disLike));?>
                                    </p>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>

                        <?php $answer = $advancedHelper->getReviewAnswerHtml($_review); ?>
                        <?php if ($answer) : ?>
                            <div class="amreview-adminanswer">
                                <p class="amreview-title">
                                    <?= $block->escapeHtml(__('Response from store'));?>
                                </p>
                                <div class="amreview-text review-details">
                                    <?= nl2br($block->escapeHtml($answer)); ?>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?= $advancedHelper->getHelpfulHtml($_review) ?>
                    </div>
                </li>
            <?php endforeach; ?>
            </ol>
            <div class="toolbar review-toolbar amreview-toolbar-wrap">
                <?= $block->getChildHtml('toolbar') ?>
            </div>
        </div>
    <?php else : ?>
        <p class="block-title amreview-review-list">
            <strong class="am-strong"><?= $block->escapeHtml(__('No reviews'));?></strong>
        </p>
    <?php endif; ?>
    </div>
        <script>
            require([
                "jquery",
                "Amasty_AdvancedReview/js/amReview"
            ], function ($){
                $('[data-amreview-js="review-container"]').amReview({
                    slidesToShow: <?= $advancedHelper->getSlidesToShow(); ?>
                });
            });
        </script>
<?php endif;?>
