.wk-preorder-info {
    display: inline-block;
    margin-top: 10px;
}
.item-options + .wk-preorder-info {
    margin-top : 15px;
}

.wk-preorder-info-items {
    padding : 5px;
    padding-right: 0px;
}
.wk-preorder-info-title {
    font-weight: bold;
}
.wk-preorder-info-item {
    display: inline-block;
    width: 100%;
}
.wk-preorder-info-item-label {
    display: inline-block;
    font-weight: 600;
}
.wk-preorder-info-item-value {
    display: inline-block;
    padding-left: 5px;
}
.wk-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    clear: both;
    color: #31708f;
}
.wk-msg-box {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 10px;
}