.clear {
	clear: both;
}
.instangram-feed {
    display: inline-block;
    position: relative;
    float: left;
    width: 10%;
}
.instangram-feed img {
    width: 100%;
}
.instagram-image-name {
    bottom: 5px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px 0;
    opacity: 0;
    height: 0;
}
.hmeinsta {
    margin: 25px 0 0;
}
.instangram-feed:hover .instagram-image-name {
    opacity: 1;
    height: auto;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
.block-title-main {
	text-align: center;
	margin-bottom: 20px;
}
.block-title-main h2 {
	color: #1f2532;
    font-size: 35px;
    margin: 0;
    font-weight: 500;
}
.block-title-main h2 svg {
	vertical-align: middle;
}
@media (max-width: 1199px) {
	.block-title-main h2 {
		font-size: 20px;
		font-weight: 400;
	}
}
@media (max-width: 1024px) {
	.instangram-feed {
		width: 16.66%;
	}
}
@media (max-width: 767px) {
	.instangram-feed {
		width: 25%;
	}
}