<?php
/** @var \Mirasvit\Rewards\Block\Adminhtml\Sales\Order\Creditmemo\Refund $block */
?>
<?php if ($block->canRefundToRewards()): ?>
    <div class="field admin__field admin__field-option choice admin__field-option rewards-totals-actions">
        <p>
            <label for="rewards_refunded_points" class="admin__field-label">
                <?= __('Refund amount of applied %1', $block->getGeneralPointsName()) ?>
            </label>
            <input type="text" name="creditmemo[rewards_refunded_points]" value="<?= $block->getAppliedPointsValue() ?>"
                   class="input-text admin__control-text not-negative-amount rewards-refunded-points"
                   id="rewards_refunded_points">
            <label for="rewards_base_refunded" class="admin__field-label">
                <?= __('Money equivalent, (%1)', $block->getBaseCurrencyCode()) ?>
            </label>
            <input type="text" name="creditmemo[rewards_base_refunded]" value="<?= $block->getAppliedValue() ?>"
                   class="input-text admin__control-text not-negative-amount rewards-base-refunded"
                   id="rewards_base_refunded"
                   style="width: 7rem; margin-left: 1rem; text-align: right;">

            <button title="Update Totals" type="button" class="action-default scalable update-totals"
                    onclick="submitAndReloadArea($('creditmemo_item_container'), '<?= $this->getUpdateUrl(); ?>')"
                    data-ui-id="creditmemo-items-update-button">
                <span>Update Totals</span>
            </button>
        </p>
    </div>
<?php endif ?>
