<?php
/** @var Mirasvit\Rewards\Block\Adminhtml\Sales\Order\Creditmemo\Totals $block */
?>
<tr>
    <td class="label"><?php echo $block->getRewardsLabel(); ?></td>
    <td>
        <?php echo $block->getRewardsPoints(); ?>
    </td>
</tr>