<!--@subject Review reply from {{var store_name}} @-->
<!--@vars {
"var admin_answer":"Admin Answer",
"var customer_name":"Sender Name",
"var link":"Product page link with review",
"var store_name":"Store Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td valign="top">
            <p><strong>{{trans "Hello"}} {{var customer_name}},</strong></p>

            <p>{{trans "You have a new response on your product review:"}}</p>
            <br>
            <p>{{var admin_answer}}</p>
            <br>
            {{if link}}
                <p>{{trans "Click "}} <a href="{{var link}}">{{trans "link"}}</a>{{trans " to see the response"}}.</p>
            {{/if}}

            <p>{{trans "Best Regards"}},  {{var store_name}} Team</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
