<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_AdvancedReview
 */
?>
<?php
/** @var \Amasty\AdvancedReview\Block\Images $block */
$collection = $block->getCollection();
?>

<?php if ($collection->getSize()) : ?>
    <div class="amreview-images" id="amreview-id-<?= $block->getReviewId(); ?>" data-amreview-js="review-images">
        <?php foreach ($collection as $item) : ?>
            <div class="amreview-slider-item">
                <a href="<?= $block->getFullImagePath($item); ?>" class="amreview-image-link">
                    <img class="amreview-image"
                         src="<?= $block->getResizedImagePath($item);?>"
                         title="<?= $block->escapeHtml(__('Review image')); ?>"
                         alt="<?= $block->escapeHtml(__('Review image')); ?>"
                         style="max-height: <?= (int)$block->getMaxHeight();?>px"
                    />
                </a>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif;?>
