<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_AdvancedReview
 */
?>
<?php
/** @var \Amasty\AdvancedReview\Block\Summary $block */
?>
<?php $rating = $block->getRatingSummary(); ?>
<?php $count = $block->getReviewsCount(); ?>

<div class="amreview-summary-info">
    <p class="amreview-summary"><?= $block->getRatingSummaryValue() ?></p>
    <div class="amreview-rating-wrapper">
        <div class="amstars-rating-container" title="<?= $block->escapeHtml($rating); ?>%">
            <p class="amstars-stars" style="width:<?= $block->escapeHtml($rating); ?>%">
                <span class="hidden"><?= $block->escapeHtml($rating); ?>%</span>
            </p>
        </div>
        <p class="amreview-count"><?= $count; ?> <?= $block->escapeHtml(__('reviews'));?></p>
        <p class="amreview-showmore" data-amreview-js="show-more"><?= $block->escapeHtml(__('More info'));?></p>
    </div>
    <?php if ($block->shouldShowRecommended()) : ?>
    <p class="amreview-percent" data-amreview-js="percent">
        <span class="amreview-value"><?= $block->getRecomendedPercent();?>%</span>
        <span class="amreview-text"><?= $block->escapeHtml(__('of customers recommend this product'));?></span>
    </p>
    <?php endif; ?>
</div>
<div class="amreview-summary-details pages" data-amreview-js="summary-details">
    <?php foreach ($block->getDetailedSummary() as $key => $detail) : ?>
        <a class="amreview-label" href="<?= $block->getProductReviewUrl($key) ?>">
                <p class="amreview-stars"><?= $key ?><?= $key === 1 ? __(' Star') : __(' Stars'); ?></p>
                <div class="amreview-bar">
                    <div class="amreview-bar -active"
                         style="width:<?= $count ? round($detail / $count * 100) : 0 ?>%"></div>
                </div>
            <p class="amreview-text"><?= $count ? round($detail / $count * 100) : 0 ?>% (<?= $detail?>)</p>
        </a>
    <?php endforeach; ?>
</div>
