// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 16px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
            margin: 35px 0 25px;
            text-align: center;
            text-transform: uppercase;
        }
        .checkout-header {
            padding: 0;
            .title {
                font-size: 20px;
                font-weight: 400;
            }
            .description {
                font-size: 13px;
            }
        }
        .checkout-block {
            padding: 20px;
            background: white;
            box-shadow: none;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 0 0 20px;
            &:hover {
                box-shadow: none;
            }
            input[type="text"],
            input[type="password"],
            input[type="url"],
            input[type="tel"],
            input[type="search"],
            input[type="number"],
            input[type="datetime"],
            input[type="email"] {
                height: 45px;
                line-height: 45px;
            }
        }
		.opc-block-summary {
			.minicart-items {
				.delete {
					width: 20px;
					height: 20px;
					border-radius: 60%;
					background-color: #1f2532;
					border: 1px solid #1f2532;
					padding: 0;
				}
			}
		}
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        position: relative;
        margin: 0 auto !important;
        width: 100%;
        padding: 0 !important;
		    background: transparent !important;
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            .lib-css(border-bottom, @checkout-step-title__border);
            font-size: 17px;
            font-weight: 500;
            padding: 0 0 15px;
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: block;
        }


        .logo {
            margin-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);
        .checkout-success {
            text-align: center;
            .actions-toolbar {
                margin-top: 30px;
                text-align: center;
                .primary {
                    float: none;
                    text-align: center;
                }
            }
        }
        .page-title-wrapper {
            text-align: center;
            .page-title {
                margin: 0 0 18px;
            }
        }
        .print {
            display: none;
        }
        #registration {
            border-top: 1px solid #d6d6d6;
            margin-top: 20px;
            text-align: center;
        }
    }
	.table-checkout-shipping-method {
		.col-carrier {
			display: none !important;
		}
	}

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen-1025){
    .checkout-index-index {
        .nav-toggle {
            display: none;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: 0;
		width: 100%;
		.checkout-column.opc {
			margin-right: 1.5%;
			width: 31.3%;
			float: left;
			&:last-child {
				margin-right: 0;
			}
		}
	}
    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 23px 0 0;
        }
        .page-title-wrapper {
            padding-top: 35px;
        }
    }
    .checkout-index-index {
        .checkout-header {
            .title {
                font-size: 25px;
            }
            .description {
                font-size: 14px;
            }
        }
    }
}
